[2020-12-09 12:51] wojtekidd opened #1170 "Quickstart article for macOS machines"
#  📚 Missing or unclear documentation

## 📝 Description

MuditaOS documentation is currently missing a quick start guide to set up the development environment and Pure emulator on macOS machines.

## 📝 Describe the solution you'd like

A Quickstart guide similar to what we have in [the Quickstart section](https://github.com/mudita/MuditaOS/blob/master/doc/quickstart.md), but for macOS machines.

#

[2020-12-16 13:15] arkhaiel opened #1207 "[EGD-5006] French localization 🇫🇷"
Hi there !
I see there’s already a file for the french localization, which is actually in english, so I guess there’s some work to do !
I can start working on it asap, just wanted to know if it’s better do to multiple small PR or only one big PR, when the whole file is translated ?
Maybe it’s better if I do multiple small PR so everyone can contribute and work in the same time ?

[2021-01-18 12:34] Hummer12007 opened #1340 "[EGD-5313] Unclear Licensing"
## 📝 Description

While README mentions that MuditaOS is licensed under GPLv3, it is unclear to which parts of the code does it apply. LICENSE.md mentions "All rights reserved" too.

In addition, a lot of source code files contain headers with "(c) Mudita All rights reserved", while I've not seen any mentioning GPL.

## 📝 Describe the solution you'd like

It would be great, if the license which ap

[2021-01-19 14:30] #1340 closed, assigned to wojtekidd

[2021-01-25 13:21] astropanda opened #1402 "[EGD-5397] Italian localization 🇮🇹"
Hi everybody! Just a quick note to let you know I'll be starting on the italian localization in the next few days.
If anything comes up and/or you want to contribute please drop a line down below.
Cheers🙂

[2021-02-16 00:42] atsarajev opened #1543 "[EGD-5780] Russian localization 🇷🇺"
Will try to do the initial Russian localization in the upcoming days.

[2021-02-16 09:57] wojtekidd opened #1544 "[EGD-5779] Swedish localization 🇸🇪"
Here's a missing GitHub Issue to the PR by @snan #1539

[2021-02-23 02:09] disdi opened #1598 "[EGD-5852] Deutsch localization 🇩🇪"
## 📝 Deutsch localization

Hi  !
I see there’s already a file for the Deutsch localization, which is actually in english, so I guess there’s some work to do !
I can start working on it if there is no one already on it  ?

[2021-03-02 10:43] snan opened #1664 "[EGD-5985] Quickstart"
#  📚 Missing or unclear documentation

## 📝 Description

In the Quickstart for Linux, here is what's happening:

When doing

    git submodule update --init --recursive

it fails because of the magic_enum repo is not readable.

Then, when doing

    ./configure linux Debug

it fails beacuse `test/googletest` and `test/Catch2` does not contain CMakeLists.txt files, and also one of the includes in l

[2021-03-05 11:26] #1664 closed, assigned to wojtekidd, SP2FET, alekrudnik

[2021-03-05 11:32] snan opened #1699 "sfdisk when building"
[code]

On Debian and derivs (tested on Ubuntu 20.04.2 LTS), sfdisk is installed but not in the path or env. It's in /sbin. As a workaround I can make it availables in the path (uh, it's only for the image file, right? Not gonna repartition my system any time soon…).

[2021-03-08 07:38] snan opened #1706 "Mashes causes crashes"
# 🐛 Bug report

## 📝 Description

On main screen things freeze up after mashing numbers.

## 👍 Expected behavior

When mashing one or a couple of number keys, the console prints out "Ignore request for window LockedInfoWindow we are on window MainWindow" and prints out unlocking instructions. And "back" (a.k.a. E on the emulator) takes me back to main screen, and SOS takes me to the Emergency Call

[2021-03-08 15:57] snan opened #1715 "[EGD-6250] Freezes on "Special Characters" (on the emu)"
# 🐛 Bug report

## 📝 Description

When trying to toggle between upper and lower case, even with a pretty short press the special characters window open, and then the app freezes.

Emu still responds to battery changes.

## 🔍 Provide logs

Please paste relevant logs below or attach them to this issue.

<pre><code>
61053 ms DEBUG Application.cpp:handleApplicationSwitch:352: AppSwitch: ApplicationSpe

[2021-03-08 16:06] snan opened #1717 "Returns to main menu on first battery decrease"
# 🐛 Bug report

## 📝 Description

Be in any tool, such as notes, calculator, message, with 100% battery. Have the battery decrease on the emu. The UI will go back one level.

This bug doesn't reoccur on subsequent battery decreases, even if the battery is reincreased to 100. Only the first time it happens.

## 🔍 Provide logs

<pre><code>
24181 ms DEBUG MonthBox.cpp:MonthBox:81: MonthBox constructo

[2021-03-10 21:49] snan opened #1751 "Back maybe switch sides?"
Isn't it kinda weird that back is on the right side and forward is in the middle and, uh, "special" is on the left side? I find myself misclicking all the time. Now, I ain't the sharpest tool in the proverbial, but still.

For example, on Custom Repeat, the keys are Uncheck, Save, and Back, in that order.

I guess it's because center is the huge key in the middle of the keypad.

[2021-03-10 21:56] snan opened #1752 "Custom repeat, kind of weird workflow"
Hold off on this one for version one! Not urgent!

So for every repeat intervall other than custom repeat, you select it and then you save.
For custom repeat, when you select that, an edit button suddenly appears. Very clever.
But, ideally, the center button should become edit if there is no custom days set.

Then, once you HAVE set some custom days, THEN let's get save in the center, edit on the

[2021-03-17 10:49] #1699 closed, assigned to wojtekidd

[2021-03-18 13:48] #1544 closed, assigned to snan, wojtekidd

[2021-03-19 12:20] #1715 closed, assigned to snan, wojtekidd, SP2FET

[2021-03-22 12:29] bitigchi opened #1809 "Turkish localization 🇹🇷"
Greetings!

I would like start working on the Turkish localisation. Excited to be able to directly contribute to my (hopefully) future communications device!

I noticed that some of the Turkish letters are not yet supported in the current character set, after finishing the localisation, I hope to take a shot at that too.

[2021-03-23 18:38] kolegs opened #1823 "Application idea - TOTP Generator"
# 🚀 Feature request
I think it would be nice to add TOTP (Time-base One-Time Password) Generator application.

## 📝 Description

Time-base One-Time Passwords are widely used in 2FA. It would be nice to add this feature to the system.

## There are some things to consider:
1. Seeds for TOTP should be kept in some secure storage (preferable encrypted).
2. Simple interface - list of items (options to

[2021-03-24 12:12] #1751 closed, assigned to nobody

[2021-03-24 12:13] #1752 closed, assigned to nobody

[2021-03-29 13:19] #1717 closed, assigned to wojtekidd

[2021-04-08 19:28] jvoisin opened #1893 "License violation in the bluetooth stack"
MuditaOS is using Bluekitchen, but the [license]( https://github.com/mudita/btstack/blob/master/LICENSE#L20-L22 ) is explicitely non-commercial:

   personal benefit and not for any commercial purpose or for
   monetary gain.

[2021-04-09 07:21] #1893 closed, assigned to wojtekidd

[2021-04-09 10:51] wojtekidd opened #1896 "Japanese localization 🇯🇵"
Created on behalf of one of our community members

purpose, Japanese character input is necessary for the address book, SMS
and other text input. A Japanese OS is not necessary.

estimate the efforts that would be required to implement Japanese
character input. However, I am aware that several input systems exist,
also open-source solutions which I used under Linux.

the Japanese character input w

[2021-04-10 16:57] psharneja opened #1901 "Panjabi/ Punjabi Localization"
# 🏳 Create a new localization
Panjabi/ Punjabi
## 📝 Describe the solution you'd like
I would like to contribute to localizing it with Panjabi/ Punjabi language, used mostly in Punjab (India), Punjab (Pakistan), Canada, the U.K., and Australia amongst many others.

[2021-04-17 18:18] snan opened #1948 "app_phonebook_duplicate_numbers"
The l10n string "app_phonebook_duplicate_numbers" is used for two separate things in https://github.com/mudita/MuditaOS/blob/master/module-apps/application-phonebook/windows/PhonebookNewContact.cpp can't really be used for both. This also affects all the language JSON files.

[2021-04-24 10:18] lukascalda opened #1990 "[EGD-7257] Czech localization 🇨🇿"
Hello,
I would like to translate mudia  to czech language.

[2021-05-02 08:53] lighthouse16 opened #2031 "[EGD-7256] Dutch localization 🇳🇱"
I started with Dutch localisation. Will add a pull request later.

[2021-05-10 06:21] #1948 closed, assigned to wojtekidd

[2021-05-16 17:14] ghost opened #2082 "Duplicate localisation strings"
Here a list of the duplicate localisation strings.

- Alarm clock `app_alarm_clock_title_main` + `app_desktop_menu_alarm` (all caps) + `app_settings_apps_alarm_clock`
- Calendar `app_calendar_title_main` + `app_desktop_menu_calendar` (all caps) + `app_settings_apps_calendar`
- Calculator `app_calculator_title_main` + `app_desktop_tools_calculator` (all caps)
- Calls `app_calllog_title_main` + `app

[2021-05-24 18:42] hihaiu opened #2127 "Finnish localization 🇫🇮"
Hello!

I will start working on the Finnish localization!

Is the simulator sufficient to test that the words will fit and appear correctly on the screen?

[2021-05-25 17:31] hihaiu opened #2134 "Incorrect title when deleting a note"
# 🐛 Bug report

## 📝 Description

When user is deleting a note the confirm dialog title is set incorrectly

## 👍 Expected behavior

Title is empty / Title shows some part of the note from the beginning

## 👎 Current behavior

Title is "Alarm Clock"

## 🔬 Minimal reproduction

1. Go to Menu -> Tools -> Notes
2. Select Options on one of the notes
3. Select Delete

## 🔍 Provide logs

Please paste rel

[2021-05-25 17:58] hihaiu opened #2135 "Adding a new alarm"
# 🐛 Bug report

## 📝 Description

When user adds a new alarm the added alarm will be +3 hours in alarms list.

## 👍 Expected behavior

New alarm is set to the exact time set by the user.

## 👎 Current behavior

New alarm is set +3 hours from the time that is set by the user

## 🔬 Minimal reproduction

1. Go to Menu -> Alarm
2. Add alarm ( + )
3. Set time and save
4. The new alarm is +3 hours from

[2021-05-25 18:13] hihaiu opened #2136 "Confirm dialog when leaving notes application edit mode"
# 🚀 Feature request

## 📝 Description

When user is editing a note and has done some changes / added new content. Then the user presses accidentally "back" button instead of the "save" button and all the changes are lost.

## 📝 Describe the solution you'd like

User is prompted with confirm dialog "Continue without saving?" / "Discard changes?" / etc.", when back button is pressed in the edit mode

[2021-05-26 22:22] hihaiu opened #2147 "Missing words on English localization 🇬🇧"
Hello,

I was doing Finnish localization and there was some texts that didn't apparently have key value pair in English localization.

Some of these are probably developer features and there is no need for translation in my opinion, but it would be nice if the developer features were tagged with [DEV] or something.

Here is what I collected:

**Settings->Advanced**
* Information (DEV?)
* UI TEST (

[2021-06-02 11:05] #2136 closed, assigned to wojtekidd, SP2FET

[2021-06-15 16:41] #2082 closed, assigned to wojtekidd, SP2FET

[2021-06-16 08:56] alistair23 opened #2238 "Unable to unlock simulator"
#  📚 Missing or unclear documentation

## 📝 Description

The page https://github.com/mudita/MuditaOS/blob/master/doc/howto_simulator.md is missing details on how to unlock PureLock when running in the simulator.

https://github.com/mudita/MuditaOS/blob/master/doc/host_keyboard_bindings.md Also doesn't have any clear details.

## 📝 Describe the solution you'd like

If someone could tell me how to u

[2021-06-19 20:59] Fredrik-H opened #2262 "Norwegian localization 🇳🇴"
# 🏳 Create a new localization

## 📝 Describe the solution you'd like
Add the localization of Norwegian. :norway:

[2021-06-21 06:49] #2238 closed, assigned to wojtekidd

[2021-07-05 16:12] #1598 closed, assigned to disdi, wojtekidd

[2021-07-06 14:31] michi-zuri opened #2334 "Need help in building image, missing fsl_common.h"
# ⚠️ Fails at 80% of make: could not find fsl_common.h

## 📝 Description
To make `./configure linux RelWithDebInfo` pass I had to install some -devel packages, namely libgtkmm-3-devel and fuse2-devel (I'm running SolusOS, a rolling release Linux distro). With this and previously installed -devel packages the configure stage finished successfully, but when I got to 80% of `make` in the build folder

[2021-07-08 12:11] GravisZro opened #2358 "CMake version requirement too high"
# ⚠️ Create other issue

## 📝 Description

The minimum required version of CMake is CMake 3.19.5 which if too recent for popular Linux distributions.

## 📝 Describe the solution you'd like

Regenerate the file with CMake 3.18.4 or lower, CMake 3.16.3 is suggested (version from Ubuntu LTS).

## 📝 Describe alternatives you've considered

With Debian or Ubuntu, the current way around this is to eithe

[2021-07-08 12:52] #2358 closed, assigned to nobody

[2021-07-09 13:43] #2334 closed, assigned to wojtekidd, SP2FET

[2021-07-11 18:45] GravisZro opened #2383 "code quality: designated initializers are not standard C++17"
# ⚠️ Code Quality Issue

## 📝 Description

In many locations (in just about every `module-*` project) _designated initializers_  are used when initializing structures.  While this does function, it is not valid C++17 code.

`struct {`
`  int x;`
`  int y;`
` } a = { .y = 9 };`

## 📝 Describe the solution you'd like

Ideally, on should simply abide C++17 aggregate initialization or utilize `constex

[2021-07-13 22:30] taivlam opened #2407 "Vietnamese localization 🇻🇳"
# 🏳 Create a new localization

Adding Vietnamese localization

## 📝 Describe the solution you'd like

I'd like to initiate the localization for Vietnamese.

### Other Notes

The [Internationalization](https://github.com/mudita/MuditaOS/blob/master/doc/i18n.md) page mentions [GT Pressura](https://www.grillitype.com/api/storage/app/uploads/public/5b6/c52/16b/5b6c5216b40a8675629257.pdf), but after gi

[2021-07-14 22:23] GravisZro opened #2414 "Jenkins: build not triggered"
# ⚠️ Jenkins problem

## 📝 Description

I've made multiple pull requests that were approved (#2380, #2381, #2382) but none of them seem to get built by Jenkins so they are blocked from getting merged.  Is there something I'm not doing that I should be doing?

## 📝 Describe the solution you'd like

Fix Jenkins or explain what I'm doing wrong.

## 📝 Describe alternatives you've considered

Holding m

[2021-07-16 16:52] #2414 closed, assigned to wojtekidd, SP2FET

[2021-07-20 14:42] GravisZro opened #2453 "[EGD-7255] Vector image rendering flaw"
# 🐛 Bug report

## 📝 Description
In `module-gui/gui/core/DrawCommand.cpp` the `drawVecMap` function does not render large or (potentially) wide `VecMap` image correctly.

## 👍 Expected behavior

When assigning `uint16_t vecOffset` and `uint16_t vecCount` the source of data is should be `static_cast` to `const uint16_t *` before dereferencing.

## 👎 Current behavior

By not doing this only a `uint8

[2021-07-20 23:13] GravisZro opened #2455 "[EGD-7254] Submodule update script fails"
# 🐛 Bug report

## 📝 Description

The submodule update script (`UpdateSubmodules.sh`) is completely inoperable.

## 👍 Expected behavior

The script should update the default branch of each submodule.

## 👎 Current behavior

It prints the `git` usage screen.

## 🔬 Minimal reproduction

Run `UpdateSubmodules.sh`

## 🤔 Anything else relevant?
PR #2408 fixes this.

[2021-07-21 01:07] GravisZro opened #2457 "[EGD-7253] Broken links in multiple pages in documentation"
#  📚 Missing or unclear documentation

## 📝 Description

In several different documents there are broken links, some to subsections and others to different documents.
Also, multiple older markdown documents incorrectly use HTML anchors instead of markdown generated anchors.

## 📝 Describe the solution you'd like

The links should be fixed.
The HTML anchors should be removed and their ToCs should b

[2021-07-23 08:12] michi-zuri opened #2468 "mcopy fails to copy to PurePhone.img with mtools version 4.0.33"
# ⚠️ Setting up infrastructure

## 📝 Description

After finally reaching 100% on `make -j 4 Pure` I now get the following error:
[code]

running mtools --version returns the following info:
[code]

## 📝 Describe the solution you'd like
I'd like to figure why make exits with error 2 and how to avoid this.

## 📝 Solution
with mtools version 4.0.24 the build process works fine. Possibly related: http

[2021-07-29 10:51] rekado opened #2493 "[EGD-7252] German: first line of app_settings_display_factory_reset_confirmation not displayed"
# 🐛 Bug report

## 📝 Description

On the factory reset page the German translation string for `app_settings_display_factory_reset_confirmation` consists of three lines.  Only the last two lines are displayed, i.e.

    um es auf die Werkseinstellungen zurückzusetzen.\n Jetzt neu starten?

instead of

    Das Telefon muss ausgeschaltet werden, \num es auf die Werkseinstellungen zurückzusetzen.\n Je

[2021-07-29 12:24] rekado opened #2495 "Proposal: Reproducible build environment with GNU Guix"
# 🚀 Feature request

## 📝 Description

To minimize problems in setting up a suitable build environment on all GNU+Linux systems I suggest adding a GNU Guix environment file to set up a reproducible environment that will be identical on all GNU+Linux systems.

## 📝 Describe the solution you'd like

Instead of running the bootstrap script to install build dependencies I suggest a simplification: hac

[2021-07-31 14:14] GravisZro opened #2505 "[EGD-7251] Embedded images in documentation may be unreadable"
#  📚 Documentation bug

## 📝 Description

Images generated using PlantUML have an unspecified background color resulting in a transparent background.  When they are embedded and displayed in GitHub Markdown documents, text within the images can become unreadable [when GitHub is configured to display using a dark theme](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-acco

[2021-08-04 17:38] GravisZro opened #2540 "Workflow: automatic build not executing"
# ⚠️ Workflow issue

## 📝 Description

I have multiple PRs (e.g. #2504) that have been approved and I rebased them but the Jenkins remains stuck with the status "Expected — Waiting for status to be reported ".  I've followed the workflow pattern to the best of my ability but I'm stumped here.

## 📝 Describe the solution you'd like

I'd like someone to tell me what I'm failing to do or doing improp

[2021-08-16 15:01] #2505 closed, assigned to wojtekidd

[2021-08-27 14:45] BootVirtual opened #2687 "Romanian localization 🇷🇴"
I started working on Romanian localization for MuditaOS. Might be a bit slow because, well, life happens. Will try to keep you all updated in this thread.

[2021-09-01 18:49] #1207 closed, assigned to wojtekidd, l33loo, arkhaiel

[2021-09-19 18:41] mdehollander opened #2814 "Product option missing for configuration scripts"
# 🐛 Bug report

First try building MuditaOS

## 📝 Description

I am giving a build of MuditaOS a first try and I get this error, both for the docker as local approach if I follow the instructions from the docs:
[code]

## 👍 Expected behavior
It should build the image/executable

## 👎 Current behavior

Error saying wrong product and target

## 🔬 Minimal reproduction

[code]

or

[code]

## 🔍 Provid

[2021-09-29 19:54] #2455 closed, assigned to wojtekidd

[2021-09-30 08:19] #2540 closed, assigned to nobody

[2021-10-27 12:55] #2457 closed, assigned to wojtekidd

[2021-10-30 20:16] 0rsted opened #3123 "Danish localization 🇩🇰"
# 🏳 Create a new localization

Danish

## 📝 Describe the solution you'd like

I would like to add the danish localization to the project

[2021-10-30 21:16] 0rsted opened #3124 "Adding glyphs"
#  📚 Missing or unclear documentation

## 📝 Description

The documentation for internationalization talks about adding glyphs, but it is not clear how to add them

## 📝 Describe the solution you'd like

Either add a more step by step description, and all the required files (the fonts are not included either)
Or - the preferred solution
Add the charset file to the project, and add the font generati

[2021-11-07 09:37] SandorUK opened #3181 "Hungarian localization 🇭🇺"
# 🇭🇺 Hungarian Localisation

## 📝 Localising Display and Keyboard Input language

Plan of action:
1. Localised display language
2. Refine display-language localisation
3. Localise keyboard input language
4. Glyph inclusion

## Font localisation

Based on font supported list of glyphs all Hungarian characters are included https://www.grillitype.com/api/storage/app/uploads/public/5b6/c52/16b/5b6c521

[2021-11-10 17:05] asim opened #3213 "Feedback"
Whoa, it's so beautiful!

[2021-11-10 17:20] niutech opened #3214 "How to port to Raspberry Pi Zero (ZeroPhone)?"
#  📚 Missing or unclear documentation

## 📝 Description

Please provide documentation on how to port MuditaOS to other platforms such as Raspberry Pi Zero (BCM2835), which powers [ZeroPhone](https://hackaday.io/project/19035-zerophone-a-raspberry-pi-smartphone) with some e-paper display (e.g. [Waveshare](https://www.waveshare.com/5.83inch-e-paper-hat.htm)).

## 📝 Describe the solution you'd like

[2021-11-12 07:32] wojtekidd commented on #3213
Thanks @asim !

[2021-11-12 07:32] #3213 closed

[2021-11-12 08:19] brinlyau opened #3216 "Missing repos?"
#  📚 Missing or unclear documentation

## 📝 Description

Are you missing the assets repo? (seems the script fails to download?) also, are you planning on opensourcing ecoboot

## 📝 Describe the solution you'd like

open sourcing the assets and ecoboot :)

[2021-11-12 09:00] wojtekidd commented on #3216
Unfortunately, some of our assets are proprietary hence we can't fully open-source them 😞
Regarding `ecoboot` - we'll discuss that internally and will let you know.

[2021-11-12 09:02] brinlyau commented on #3216
Can you include them as a proprietary binary that we can link against? (or
support including them if we manage to extract them from the device ;) )

On Fri, 12 Nov 2021 at 8:01 pm, Wojtek Cichoń ***@***.***>
wrote:

[2021-11-12 09:19] wojtekidd commented on #3216
The first way seems more legit 😛 Could you please pos any good examples of projects that do this?

[2021-11-12 13:06] brinlyau commented on #3216
Could you explain the issue in detail on which kind/type of binaries can't be shared and the actual restrictions (is it a restriction stopping you from posting source or distributing at all?) - so I can propose a good example (if it's the Luts.bin, that's one thing - I totally understand why you can't redistribute it), but the other files in the assets folder seem to be fonts and audio and transla

[2021-11-15 22:27] brinlyau commented on #3216
Any chance you could jump on IRC or the community discord so we could have a real time chat about this (in private if needed) (and you could share transcript internally about this)? -

[2021-11-17 18:11] geekoftheweek commented on #3216
I also attempted to build the repo and failed on the asset-downloading step.  A workaround would be greatly appreciated.

[2021-11-17 23:12] brinlyau commented on #3216
https://discord.com/invite/SjyV3Vjz @geekoftheweek maybe join and we can discuss this :)

[2021-11-22 13:14] pholat commented on #3216
sorry for the late response :)

To just compile you can empty the products `assets.json` file:
[code]
You will be able to compile just fine, but you won't have any fonts available. It's not a very good solution, but it's a starter.

Now. To just make the simulator work we can:
* provide open default font, we are actually using `./fonts/pure/dejavu_sans_bold_27.mpf` so it shouldn't be a problem
* d

[2021-11-22 13:34] pholat commented on #3214
Broadly speaking: it depends. Just running MuditaOS on RPI Zero shouldn't be too hard.
1. cross-compile the Linux target
2. run `./PurePhone` application on raspberry pi 0 target.
( There is a catch with it - we do not have any publicly available font so it will fail miserably at the start)
This would be a very good beginning.

Having the app compiled it shall run as it is. It won't be too functio

[2021-11-22 13:54] pholat commented on #2814
Hi, unfortunately, we mostly use our local configurations and have a separate docker for CI builds, therefore it might have been a bit neglected.

Saying that - what's missing is documentation mostly. To just compile the project you can run:
[code]

Here are 3 important differences:
- as you can see it logs into the image
- configure uses Ninja.
- it builds only elf file

It should succeed, though

[2021-11-22 14:14] pholat commented on #2495
@rekado this looks nifty, thanks!

I do not know how wide and common is guix adoption, but I'm pretty sure that having it as an option should be pretty sweet.
`bootstrap.sh` has its origins in dark times when there was no instruction whatsoever and felt like a natural addition.
The cross compiler seems old for our case, I cannot state much more due to my own incompetence with the tool proposed, bu

[2021-11-22 14:22] pholat commented on #3124
` Add the charset file to the project, and add the font generation as a step on merge to master`

@0rsted would you be so kind to provide us with the charset? :)

[2021-11-22 14:36] pholat commented on #2468
@michi-zuri had this issue for a sec, fortunately it works just fine with newer mtools:
[code]

[2021-11-22 14:44] wojtekidd commented on #3216
Some parts of the software are "unfortunately"  proprietary - you can keep track of them by reading the [LICENSE.md](https://github.com/mudita/MuditaOS/blob/master/LICENSE.md) + the font we use across MuditaOS is a proprietary one and needs buying a license when used for commercial purposes.

[2021-11-22 16:35] niutech commented on #3214
Thanks for an explanation. As for Linux, how to install the missing font?
As for FreeRTOS, will MuditaOS on any hardware which is supported by FreeRTOS? Provided that RPi Zero has a usable port of FreeRTOS, will MuditaOS work out of the box?

[2021-11-22 19:32] brinlyau commented on #3216
Hey Adam and Wojtek.

to be clear, I did manage to get the simulator built (and running), and I
think I even got a buildable image working for the rt1051 platform
(required a lot to makefile hacking on a private branch) too - I don’t have
a device yet, but I compared my image with my official image and it seems
the same.

anyway; my request is option D “add an option to download_assets.py to take

[2021-11-23 13:00] pholat commented on #3214
as for missing font - the issue is we do not have proper non-OSS distribution. The best way would be to provide an alternative font set. It's possible, but it requires a bit of work and as we are closing to release date - the time is at essence.
As for FreeRTOS - yes, it will run on any FreeRTOS supported platform, but you will have to provide BSP (board support layer) for each.
Provided that RPi

[2021-11-23 13:39] niutech commented on #3214
Thanks again. As for the font, aren;t you using DejaVu Sans by default? It is based on [permissive and public domain license](https://dejavu-fonts.github.io/License.html), so can't you just bundle it? And by providing an alternative font, do you mean https://github.com/mudita/MuditaOS/issues/3216#issuecomment-975510308?

[2021-11-23 15:28] pholat commented on #3216
Could you please check:
`/configure.sh pure rt1051 relWithDebInfo -DMUDITA_ASSETS_JSON=assets.json -DMUDITA_ASSETS_DL_TYPE=local`

Here:
https://github.com/mudita/MuditaOS/pull/3309/files

You will just have to:
- provide what `assets.json` to use
- set `local` dl type
- list all files you want to copy in this file. I assume this would be all fonts you want to copy as in example `assets.json` in t

[2021-11-23 23:11] brinlyau commented on #3216
Perfect, that's basically what I was gonna propose, but I wasn't sure on what the best way for mainlining a patch like that was. I haven't tested yet, due to travelling, but if I get some time, I'll spin up a VPS on the weekend to try build :)

[2021-11-24 05:38] brinlyau commented on #3216
https://gist.github.com/brinlyau/6596bf097ea116f7587a63faae555ae5

Picked those commits in [PR:,](https://github.com/mudita/MuditaOS/pull/3309) and added lol.txt in /tmp/ but it still fails to build. What did I miss? (I think the python script is broken)

[2021-11-24 08:49] pholat commented on #3216
@brinlyau there are two downloads 1st is for assets and 2nd is for (assets) bootloader & loader which we download from selected releases.

Default target creates an image by default. For this case, you can build `PurePhone.hex-target` instead. It's pretty much useless without a phone though (we do not have any VM config for that :) ). Consider building for Linux and running simulator.

[2021-11-24 08:54] pholat commented on #3214
Yes, DejaVu Sans is a default font - and with a reason, it has all the glyphs we needed :) Providing DejaVu is actually a pretty simple matter - but we shall plan it properly so that it won't be only added, but also it will be properly usable, documented etc. and that will take a bit of time.

Please let me know if you happen to configure a new target :crossed_fingers:

[2021-11-24 09:05] brinlyau commented on #3216
I've been using the Linux simulator for about two weeks (using a patched up cmake), but i want to run on the real device since I have some patches (a bunch of my background is embedded/platform/bsp work) that are impractical with the emulator when mine arrives :)

Are you planning on opensourcing the ecoboot binary (or even posting it in binary form on a publicly downloadable link) - I loaded the

[2021-11-24 20:59] GravisZro commented on #2453
For weird git/github reasons, I had to resubmit the PR as PR #3322.

[2021-11-25 07:36] pholat commented on #3216
That's great :)

Opening up is a process, as MuditaOS is OSS, PureUpdater is next in line and should be available shortly, then I suppose ecoboot will follow up. While the ecoboot is signed, the signature is used for authentication only.

So the very first need you will have is to load binary on the phone. I do not know if NPI has a JTAG socket soldered in - but I guess this would be the easiest w

[2021-11-25 07:47] brinlyau commented on #3216
Perfect. I think we can close this issue now with the proposed draft
patches.

Thanks for your work on this.  Super cool to have a open source phoneOS
that’s not a smartphone :)

On Thu, 25 Nov 2021 at 6:37 pm, Adam Dobrowolski ***@***.***>
wrote:

[2021-11-27 13:26] niutech opened #3337 "Minimum requirements"
Please provide minimum requirements to run MuditaOS on a physical board with FreeRTOS. Will ESP32 with 8MB PSRAM be enough to boot it?

[2021-12-02 00:01] SandorUK commented on #3181
@wojtekidd hello. I've opened branch `feature/Hungarian-localization` before MuditaOS repo went public, then I was removed from Mudita org as the repo went public. I cannot push to the branch anymore. Do I need a fork now or can you set my permissions for this branch? Thanks.

[code]

[2021-12-02 08:13] pholat commented on #3181
- `Am I allowed to make as many commits as I need (WIP) on my branch though?`
Absolutely, this is the best way to go! :)

- `before MuditaOS repo went public`
I assume you still have the changes available locally.

Your changes shouldn't affect any frequently changed code therefore update should be pretty straightforward.
You may either:
1. use `git diff > patch.diff` then `git apply patch.diff` o

[2021-12-02 08:43] wojtekrzepecki commented on #3337
Most of the constraints are about memory usage. I.MX RT1051 microcontroller have 512KB of on-chip RAM which is utilized  for threads stacks, FreeRTOS heap etc.. Mudita Pure is equipped with 64MB of SDRAM. Here you can find memory utilization of the recent build:
![obraz](https://user-images.githubusercontent.com/74544942/144383635-a6be3e63-e0dc-4c0c-8c86-5ac86214d79e.png)
Mudita Harmony (in code:

[2021-12-02 08:52] wojtekrzepecki commented on #3337
Most of the constraints are about memory usage. I.MX RT1051 microcontroller have 512KB of on-chip RAM which is utilized  for threads stacks, FreeRTOS heap etc.. Mudita Pure is equipped with 64MB of SDRAM. Here you can find memory utilization of the recent build:
![obraz](https://user-images.githubusercontent.com/74544942/144383635-a6be3e63-e0dc-4c0c-8c86-5ac86214d79e.png)
Mudita Harmony (in code:

[2021-12-02 08:53] niutech commented on #3337
Thank you. How about processing power? Dual-core 240 MHz CPU should be enough to boot it, or do I need much more?

[2021-12-02 09:03] wojtekrzepecki commented on #3337
We are running Pure with top 528MHz CPU frequency, which is decreased most of the time according to cpu load dynamically. 240MHz should be enough.

[2021-12-08 06:27] brinlyau commented on #3216
Closing this issue, but might open up another one to explain the workaround :)

[2021-12-08 06:27] #3216 closed

[2021-12-09 08:00] c933103 opened #3391 "The display of Chinese, Japanese, and Korean characters"
# 🚀 Feature request

## 📝 Description

Currently, Mudita do not have any support on input/display of any Chinese/Japanese/Korean characters. Since that involve too many aspects so let's focus on the character display part first

## 📝 Describe the solution you'd like

To display Chinese, Japanese, Korean, fonts for their characters needs to be implemented.
Here comes the first problem: Since it inv

[2021-12-09 08:47] c933103 opened #3392 "Request for extra locale_date support"
# 🚀 Feature request

## 📝 Description

Currently, according to the localization files, the following date formats are available in Mudita OS

  "locale_date_DD_MM_YYYY": "%d.%m.%Y",
  "locale_date_MM_DD_YYYY": "%m.%d.%Y",
  "locale_date_DD_MM": "%d.%m",
  "locale_date_MM_DD": "%m.%d",
  "locale_date_Day_DD_Mon": "%A, %d %b",
  "locale_date_Day_Mon_DD": "%A, %b %d",

  However, these don't cover so

[2021-12-09 20:09] c933103 opened #3398 "Input of Chinese, Japanese, and Korean languages."
# 🚀 Feature request

## 📝 Description

To support Chinese, Japanese, and Korean language on the MuditaOS platform, it is necessary to not just displaying them, but also to allow user to type messages and notes in their languages.
Currently, in the i18n document for keyboard, it mentioned "Every language has its own files for upper and lower letters.". However, such assumption is incorrect for Chin

[2021-12-10 15:26] snan opened #3401 "Adding contacts from within the messages app"
If you got to the messages app when you don't have any contacts, hit left to start a new message, then hit contacts, it says hit left to add a new contact, and that doesn't work. You can add new contacts by going back to the main menu and going into the contacts app from there.

[2021-12-11 10:54] snan opened #3402 "Phone crashed"
After updating the OS to 1.1.15, I've had the phone crash twice.

First, I previously already had Ukulele selected as my ring tone, then I connected to Mudita Center and updated the OS, and all of the following is with the Mudita Pure connected to the computer and Mudita Center open but not connected.

Then after the update (and with the wire still plugged in),
go to settings -> apps -> phones and

[2021-12-12 15:06] snan opened #3403 "Truncated messages"
I received a long text message and it got truncated and I can't read the end of it. (I just called them up.)

[2021-12-12 15:35] snan opened #3404 "More beautiful meditation countdown"
The meditation time is on a proportional font so as the seconds tick down, the entire time stamp jitters. If instead each glyph was fixed in space only the relevant number would move. It could still be relatively proportional, i.e. a thin `:` and so on. This would look awesome on e-ink ♥

+ also add a 20 minut schedule ♥♥

[2021-12-13 07:50] pholat commented on #3403
@snan if you select this message, cant you scroll it up/down with `up` and `down` keys? :)

[2021-12-13 11:26] snan commented on #3403
I have already deleted it, but I've asked my friend to send a new long text so I can try what you ask. How do I select messages on the phone?

[2021-12-13 11:33] snan commented on #3403
Oooh! OK, that worked! So the issue is only visual / discoverability / UI (as opposed to UX).

Great!

[2021-12-13 11:33] #3403 closed

[2021-12-13 17:43] czalaviek opened #3408 "Hangups, reboots, bluetooth, slow responding and battery drainage"
# 🐛 Bug report

## 📝 Description

I'm fresh Pure user, since 3 days and after 1'st connection with Mudita Center I've upgraded firmware to 1.1.5. It was bad decision that brought me hangups (often +reboot), slow responding, battery drainage and troubleshooting with bluetooth.  I've imported about nine hundreds of contacts from my Google account.

## 👍 Expected behavior

1. Battery should work long

[2021-12-14 09:22] wojtekrzepecki commented on #3337
@niutech Is this information sufficient for you? If yes, please close the issue :slightly_smiling_face:

[2021-12-15 00:43] niutech commented on #3337
Yes, thank you.

[2021-12-15 00:43] #3337 closed

[2021-12-15 13:32] SP2FET commented on #3402
Hi!
Indeed, the phone freezes when you long-press the back key in the scenario that you described, thanks for pointing it out. I'll pass it further to devs team

[2021-12-15 13:46] bitigchi opened #3418 "Concatenated strings cause ambiguity for some languages"
# Concatenated strings cause ambiguities for some languages

## 📝 Description

I have been translating MuditaOS into Turkish. However, I am having trouble translating some strings, because they are not whole strings but rather parts of it that changes according to context.

Translating these strings may not issue great problem for European languages and their mostly similar word order, but for dif

[2021-12-15 13:50] SP2FET commented on #3402
I've created a bug on Jira, so you'll see in the PR section it's progress once it will be started: EGD-8104

[2021-12-16 08:25] SP2FET commented on #3408
Hi!
I'm sorry to hear that you had so many problems with your Pure.
Let me answer the Bluetooth issue, others will be addressed by my colleagues:

You're right, that car connection could be a problem - we did internal tests and we're working on solving the bug which causes problems with car BT systems.

Let me continue in English for the sake of other community devs ;)

[2021-12-16 08:47] wojtekrzepecki commented on #3408
1. Battery life depends mostly on cellular network coverage and how much the phone is actually used, especially for calls. Also Bluetooth module draws substantial amount of power if used. When phone is idle and the cellular network signal is strong and stable phone should work about 5 days on single charge. If you are using Bluetooth often and the network signal is usually not constant, it is like

[2021-12-16 08:49] snan opened #3421 "Battery depleting quickly with idle"
So the battery meter, at least the visual indication of the battery, is depleting pretty quickly when idle. Too many writes to the e-ink screen or some other issue?

I'm used to 3G phones, even dumbphones, depleting quickly when actually talking, but this is when the phone isn't being used.

[2021-12-16 08:58] mjan-dev commented on #3408
Let me answer remaining points.
3,4. Those are clearly bugs and an annoying ones if I may add (especially the third one). Furthermore, the SIM issue may influence battery life. We are going to address this as a high priority issues and hopefully those will be solved quickly. Thanks for reporting it and for actively contributing to improving Pure user experience!

[2021-12-16 09:32] wojtekrzepecki commented on #3421
Hello @snan ,

Thank you for reporting the issue. I have some questions for clarification:
1. Was SIM card in the phone all the time?
2. What was the cellular signal strength at the time?
Battery life is mostly influenced by instabilities in cellular network signal. When signal is weak/unstable the GSM module has to transmit with significantly higher power. In stable network conditions phone shoul

[2021-12-16 10:20] snan commented on #3421
Yes. Slider on first two modes (not airplane).
Signal is top left, right? I get two bars.

[2021-12-16 11:48] mjan-dev commented on #3408
Bugs tickets have been created to address reported issues 3 and 4. This issue will be updated immediately with progress.
[EGD-8116](https://appnroll.atlassian.net/browse/EGD-8116)
[EGD-8115](https://appnroll.atlassian.net/browse/EGD-8115)

[2021-12-16 13:22] czalaviek commented on #3408
Ad 1.
I live 400 m to the nearest cellular operator's BTS (full LTE power 5/5 in my smartphone) and my work office is located in voivodeship city center. There is n no reason on BTS. Furthermore, I don't use Bluetooth, because it's unusable (desc. in Ad 2)

Ad 2.
It's very hard to make any pairing with car audio (Toyota and Renault). After several attempts, Bluetooth connection was successful, in

[2021-12-16 14:08] wojtekrzepecki commented on #3421
Could you provide more data to diagnose the issue? There is an option to do this by Mudita Center. While Pure is connected by USB to PC, please click "contact support" icon. Following form should appear and the logs from the phone will be attached there. Please also attach there this Github issue number :slightly_smiling_face:
![obraz](https://user-images.githubusercontent.com/74544942/146386829-5

[2021-12-16 14:28] snan commented on #3421
Is there a way to see those logs before sending them? So I can verify that my location, phone number etc isn't transmitted.

[2021-12-16 16:03] wojtekrzepecki commented on #3421
Yes, you can check them in the temporary folder used by Mudita Center:
- Windows: `C:\Users\<username>\AppData\Roaming\@mudita\mudita-center-app\logs`
- Linux: `~/.config/@mudita/mudita-center-app/logs`
- macOS: `~/Library/Application Support/@mudita/mudita-center-app/logs`
We have made lots of effort to be sure that no sensitive data is stored in logs. Anyway, we encourage you to check them out :

[2021-12-16 16:40] snan commented on #3421
Oh, those logs are pretty great, I used them the other day to fix the [permissions issue](https://forum.mudita.com/t/mudita-center-on-debian/3382).

I'll go grab those logs the next time I can connect to a computer.

[2021-12-16 23:04] czalaviek opened #3424 "Possible memory leaks between received messages"
I observed today weird behaviour of messaging app. 1'st I've received message from my banking service (lack of number, only name like "PKO BP"). Message was cutted-off, only about 10 letters left. After a while, I've received next message, from my friend. To my surprise message was concatenated from rest of banking msg and original friend's text.

[2021-12-17 08:34] pholat commented on #3418
Thanks for reaching out. Please right me if I understood you wrongly: In this particular case there is a piece of code that acts as a generator and glues a few strings together, whereas for translation purposes it should just return one of 5 different translations.

So i.e. instead returning (simplified):
`app_bellmain_home_screen_bottom_desc` + `app_bellmain_home_screen_bottom_desc` + ... `someth

[2021-12-17 08:46] mjan-dev commented on #3408
@czalaviek Thanks for the logs. Those have been added to proper issues and will be extremely helpful in solving them.

[2021-12-17 09:35] mjan-dev commented on #2468
Closing this issue as newer tools version have been verified to work.

[2021-12-17 09:35] #2468 closed

[2021-12-17 09:37] mjan-dev commented on #2495
Closing because of lack of activity.

[2021-12-17 09:37] #2495 closed

[2021-12-17 09:43] pholat commented on #2383
Most parts of the code are GCC c++17 plus GCC extensions confirmation. That's not stated formally anywhere though.

We didn't decide to change to c++20, as we wait for better standard adoption and it was decided it's not worth doing so yet. Same with designated initializers - we can remove them, but there was no valid reason to do so - ad adding proper automatic checks would cost us some time, whi

[2021-12-17 09:43] #2383 closed

[2021-12-17 09:45] pholat commented on #1990
@lukascalda would you be so kind to update the PR, so that we would close this issue? :)

[2021-12-17 11:34] SP2FET commented on #3421
FYI bug is reported under EGD-8120 ticket ;)

[2021-12-17 11:36] bitigchi commented on #3418
Yes, correct. I've prepared an initial fix which broke down the strings a bit further, which allows me to relocate the verb, but I am not sure how to put variables into translatable strings like `$VARIABLE$` to make it into a single string. Otherwise it works.

[2021-12-17 15:47] mjan-dev commented on #3424
Hi czalaviek!
Sorry to hear about the issue. Good thing is we are already working on it and we had it in backlog :)
Here is some tracking number to see when it will appear on PR section. [EGD-6991](https://appnroll.atlassian.net/browse/EGD-6991)

[2021-12-18 12:26] snan opened #3427 "Sounds bad"
I was asked on the forum to file an issue for the speaker's audio quality but I'm not sure that there's a lot you can do about it in software.

Drivers?
Gain / eq?
The speaker sounds overdriven and clippy.
[Here is a comparison with spectrogram.](https://forum.mudita.com/t/reviews-of-mudita-pure/3375/42)

[2021-12-18 20:29] czalaviek commented on #3408
Thx. I'm waiting for results in next public release of firmware. It would be nice to see it as fast as it's possible

[2021-12-18 20:45] czalaviek opened #3428 "Datestamp of received messages"
# 🚀 Datestamp of received messages

## 📝 Description

Actually every message is described only by short hh:mm stamp, even if they are older than today's.

## 📝 Describe the solution you'd like

Time stamp of old messages should be built just like: a) older than 7 days: [MONTH],DD, HH:MM; b) younger: [DAY], HH:MM; c) another year: YYYY-MM-DD, HH:MM

## 📝 Describe alternatives you've considered

non

[2021-12-20 12:45] #3402 closed

[2021-12-23 09:57] czalaviek opened #3448 "Deleting first char while editing messages"
# 🐛 Bug report

## 📝 Description

Pressing del key [#], when cursor is located on 1'st position, removes 1'st right char.

## 👍 Expected behavior

Del key should do nothing when cursor is located on the start position.

## 👎 Current behavior

Pressing del key [#], when cursor is located on 1'st position, removes 1'st right char.

## 🔬 Minimal reproduction

Situation is so simple and it doesn't nee

[2021-12-23 13:31] SP2FET commented on #3402
@snan the issue has been fixed :)

[2021-12-26 11:06] czalaviek commented on #3448
IT looks that error od harder, because the same situation is any textbox created from the same stereotype, ex. fields in contacts.

[2022-01-02 05:26] Fantasticji commented on #3391
for Chinese,it needs Simplified Chinese and traditional Chinese.

[2022-01-02 05:27] Fantasticji commented on #3398
for Chinese,it needs Simplified Chinese and traditional Chinese,pinyin system is enough for me.

[2022-01-03 11:11] pholat commented on #3418
do you have it somewhere? please link it here, we would be more than happy to help you get through the fix admission process ( as well as help to implement it)

[2022-01-03 11:20] pholat commented on #3448
This is dependent on how the UI text widget is used in particular cases. Generally speaking, behavior when we are with cursor prior to any other character, we press delete, we remove character after (not prior as there is none) was left as a feature in code as it was proven handy - it's hard to press `backspace` by accident on the phone keyboard too. Therefore, it didn't feel as it would bother an

[2022-01-03 13:50] mjan-dev commented on #3427
Hi snan!
Thanks for reporting this issue here as well as on forum. We are already working on it, recording have been made and quick adjustments to equalizers have been proposed and are currently review internally. Of course, changes to sound quality are limited by hardware and mostly enclosure design, however some tweaks are possible to be introduced to loud speaker sound and especially to the ear

[2022-01-03 21:01] czalaviek commented on #3448
Cases:
1) Editing new message - I wrote "Horse", but I wanted to write "Morse". To correct the word, I'm moving cursor to position between "H" and "o", next move is hitting "#" as Backspace. Unfortunately I pressed it twice. Result is deleted char "H" but "o" too. It's unwanted behaviour, because needs to write two chars, now.
The same behaviour is while editing Name, Surname etc. in contacts.

Pu

[2022-01-04 11:00] czalaviek opened #3454 "Unread messages and missed calls on lock screen - inconvenience"
# 🚀 New messages and missed calls seen before auto-lock screen should be marked as read

## 📝 Description

Current behavior: when user has seen every missed call or unread messages. Next, he put the phone down without closing contacts- or messages-app. OS auto-locked the screen after a fixed time, but missed calls or unread messages are still on the lock-screen.

## 📝 Describe the solution you'd l

[2022-01-05 11:13] pholat commented on #3214
No further comments, issue closed. Please reopen if required :)

[2022-01-05 11:13] #3214 closed

[2022-01-05 11:14] pholat commented on #3181
@SandorUK issue closed due to inactivity, please reopen if required.

[2022-01-05 11:18] pholat commented on #3404
Actually whole timer should jitter as i.e. 1 and 0 have different width and inter font parameters. Saying that - wouldn't at best be the use od monospaced font in this particular example?

[2022-01-05 11:26] pholat commented on #1901
closed due to inactivity

[2022-01-05 11:26] #1901 closed

[2022-01-05 11:30] pholat commented on #2127
closed due to inactivity, please reopen if required.

[2022-01-05 11:30] #2127 closed

[2022-01-05 11:31] pholat commented on #2031
@lighthouse16 will you continue to work on the localization? :)

[2022-01-05 11:32] #2031 closed

[2022-01-05 11:32] SandorUK commented on #3181
@pholat it's been an intense year end at work and Xmas break, I'll re-open as I have work done, but not yet committed due to the protection status of the branch.

[2022-01-05 11:34] SandorUK commented on #3181
@pholat could you please re-open as I do not have sufficient permissions to do so (not a member of the org and your closing action overrides my ownership of the issues it seems). Thanks!

[2022-01-05 11:34] pholat commented on #1990
@lukascalda @SP2FET I see that the PR is closed but was not integrated into the master branch. ( https://github.com/mudita/MuditaOS/tree/master/image/assets/lang ) could you advise what do we do here next?

[2022-01-05 11:36] pholat commented on #2135
@hihaiu could you please retest with the current master? from the time the issue was raised this particular code was rewritten

[2022-01-05 11:37] pholat commented on #2135
please reopen if issue still exists.

[2022-01-05 11:37] #2135 closed

[2022-01-05 11:39] pholat commented on #2262
@Fredrik-H please reopen if you happen to resume work on the translation :bow:

[2022-01-05 11:39] #2262 closed

[2022-01-05 11:49] mjan-dev commented on #3428
Thanks for creating the issue and for your contribution.
It is a valid remark and we will plan and implement change in this field and soon as possible.

[2022-01-05 16:24] snan commented on #3404
As long as it's only the last digit that's changing, it wouldn't jitter. And going from 50 to 49, for example, both digits are changing at the same time. It's never the case that a non LSD changes on its own.

[2022-01-05 16:25] snan commented on #3404
So a left-justified (a.k.a. "ragged right") timer doesn't jitter.

[2022-01-11 11:42] cheppers-gatsby commented on #3181
@pholat Hi, what is the status on this issue? We are looking forward to use the phone in Hungarian.

[2022-01-11 11:43] MauPalantir commented on #3181
@pholat Hi, what is the status on this issue? We are looking forward to use the phone in Hungarian.

[2022-01-11 19:38] SandorUK commented on #3181
@MauPalantir hey there! I'm the developer who is working on localisation into Hungarian. I'm trying to get this issue re-opened as it was auto-closed. I've done all the translations, but I need help context testing them using simulator. Once the issue is re-opened I will be able to push code and provide instructions for testing.

[2022-01-12 11:37] pholat commented on #3404
@snan non-monospaced fonts have two parameters that should differ for different glyph combinations: this is [kerning](https://www.wikiwand.com/en/Kerning) and glyph width.
Consider glyphs for `1` and `2` - both have different widths. Now when you write 50 times in i.e. LibreOffice with different fonts these would have different widths:
![image](https://user-images.githubusercontent.com/6411862/149

[2022-01-13 12:13] mjan-dev commented on #3454
Thanks for reporting. It is indeed a bug and I created an issue for it with id: EGD-8163. It can be tracked as soon as it appears in PR.

[2022-01-16 18:49] snan opened #3485 "Rejecting calls"
Friend called me, I was busy, so I hit the rightmost bar nav key. From my perspective, my friend called again, and I answered. And in the call log, I have two calls from 16:36, one with an x and one with a checkmark.

From my friend's perspective, he called once, and heard one "call signal beep", then a few moments of silence, then more "call signal beeps" (with "lower quality" according to him),

[2022-01-18 10:13] snan commented on #3485
And then, next night, same friend called again (from same phone, some iPhone I guess), and I had sound off, so didn't even reject (or hit the right bar key), just noticed later two missed calls both same timestamp, and he told me today that on his end it was only one call. He reports a long pause before the "call signal beeps" that time.

[2022-01-18 13:27] snan opened #3493 "SMS mark read"
When an SMS shows up in my open thread it is still marked as unread once I leave the thread.

[2022-01-20 09:04] pholat commented on #3485
First of all: thanks! We are actually trying to reproduce it from the first time you posted but weren't able :) would you be so kind to tell:
- do you have voicemail enabled?
- how many +- contact do you have added?
We would love to get a bit closer to the comparable environment to yours ( as normally when we load the phones for reproduction we have voicemail on and just a few contacts)

[2022-01-20 09:53] snan commented on #3485
I had voice mail with my older dumbphone. Not sure how it works on the pure. I had eleven contacts added at the time.

[2022-01-20 13:26] SP2FET commented on #3493
Hi, I've tested the case on the 1.1.5 release and the current `master` branch and can't reproduce it - the thread is marked read and there's no dot next to the thread. Could you please try to reproduce this?

[2022-01-20 13:31] snan commented on #3493
I'm on 1.1.5 and it happens all the time:

The pure is open to a chat,
a new message comes in,
the new message is shown in the chat,

but then the pure doesn't know that the message is read. It shows up on the main (pre-menu) screen and there's a dot on messages and on the thread. Unless I go back in there.

[2022-01-20 13:32] SP2FET commented on #3493
ah, I see, this happen when you have the thread opened while the message comes? I didn't understand it correctly for the first time. I'll recheck it

[2022-01-20 13:34] SP2FET commented on #3493
alright, you're correct, I'll create a bug in Jira

[2022-01-20 13:39] SP2FET commented on #3493
Thanks for noticing the bug, I've created a ticket for this: EGD-8194

[2022-01-20 21:14] dumblob opened #3507 "Wifi wireless connection to save data from a data plan and thus save money"
# 🚀 Feature request

## 📝 Description

It seems impossible to connect to any wifi network nor to do any tethering over wifi.

## 📝 Describe the solution you'd like

I'd like a simple list of available wifi connections to choose from, then put password in and subsequently use the connection from applications (e.g. to write messages, write emails, VoIP, etc. - just about anything one can do now with

[2022-01-21 08:03] czalaviek commented on #3493
I thing the issue is similar to [my added earlier](https://github.com/mudita/MuditaOS/issues/3454 )

[2022-01-21 08:49] SP2FET commented on #3493
well, indeed it's the same case - we'll merge the tickets then. thanks for pointing it out!

[2022-01-21 10:23] pholat commented on #3507
It's not possible, which was a deliberate design choice. Please mind that WiFi requires both specialized software and hardware and we have none of both :) It might be possible to have Bluetooth tethering - as we have Bluetooth classic capabilities, but it was not implemented.

[2022-01-22 15:05] dumblob commented on #3507
Is it planned to implement this functionality (Bluetooth tethering)?

[2022-01-24 08:18] SP2FET commented on #3493
duplicated: https://github.com/mudita/MuditaOS/issues/3454

[2022-01-24 08:18] #3493 closed

[2022-01-31 12:34] SP2FET commented on #3424
Hi,
Let me inform you that this issue has been fixed and will be included in the next release.

[2022-01-31 12:34] #3424 closed

[2022-01-31 12:37] SP2FET commented on #3421
Hi, let me inform you that we found the issue and we're on track to fix it as quickly as possible ;)

[2022-01-31 12:40] SP2FET commented on #2814
The docs are already updated, so let me close the issue ;)

[2022-01-31 12:40] #2814 closed

[2022-01-31 12:42] #1823 closed

[2022-01-31 12:43] #1706 closed

[2022-01-31 13:01] mjan-dev commented on #2134
This issue doesn't occur in newest firmware. Closing.

[2022-01-31 13:01] #2134 closed, assigned to SP2FET

[2022-01-31 13:43] czalaviek commented on #3424
Great news!!!

[2022-02-06 17:58] snan opened #3553 "Accepting calls"
I got a phone call that I wanted to accept but I couldn't. I kept hitting "accept call" but the button did nothing. Then I finally hit reject, and went to the contact lists to call him. The call button again did nothing. I restarted the phone and tried to call from the call list. It says "put in a sim card" but I do have one in.

[2022-02-06 21:59] czalaviek opened #3554 "Alarm can't stop when left selection key pressed"
# 🐛 Bug report

## 📝 Description

Alarm can't stop when left selection key pressed. It opens main menu. Switch off alarm in Alarms app brings no help - phone is still loud. No GUI alarm notification, now. Helps only turning off the phone - long press right selection key. Volume keys are disabled.

## 👍 Expected behavior

Left selection key should by disabled during alarm in progress

## 👎 Current

[2022-02-06 22:14] czalaviek opened #3555 "Missed calls in log still bold (flag "unseen")"
# 🐛 Bug report

## 📝 Description

I've reviewed all my missed calls in call log, but they are still bold

## 👍 Expected behavior

All call log position should be unbolded alter review.

## 👎 Current behavior

Reviewed all missed calls in call log are still bold

## 🌍 Your operating system and MuditaOS version
1.1.6

[2022-02-07 09:01] snan commented on #3553
I think the sim card thing was just from having restarted so recently as opposed to a physical glitch.

[2022-02-07 11:32] pholat commented on #3554
Hi, this should be fixed in the new release 1.1.7 which should be released in the following weeks. If there are no major issues found, I assume it would take about a week.

[2022-02-07 11:37] czalaviek commented on #3554
👍

[2022-02-07 13:32] SP2FET commented on #3553
HI,
We're sorry that you're experiencing new problems with your Pure, even more, that those are related to the cellular connection.
To be able to help you as much as we can we would like to contact you in a more "instant" way - maybe some sort of instant messaging? We could then try to investigate your cellular problems based on your individual device.
If you'd like to take part in such a conversa

[2022-02-07 17:05] zalun opened #3558 "Tethering not working"
# 🐛 Bug report

## 📝 Attempt to connect via USB tethering is showing an error

- Connected to my MBP with a cable that allows data connection
- Pure is showing a message if I'd like to tether [YES]
- Mudita Pure appears as a Network connection in Network Preferences modal window
- I enter the connection settings for the OrangePL (*99#/internet/internet) (Advanced -> Model: GPRS, APN: Internet, CID

[2022-02-09 08:15] SP2FET commented on #3558
Hi,
Sorry to hear that you have trouble with the tethering. Have you tried installing the HoRNDIS driver for Mac? I think it should solve your problems :)
https://joshuawise.com/horndis

If it wasn't communicated to the users please let me know, I'll update the docs then.

[2022-02-09 08:17] SP2FET commented on #3558
According to the GPRS connection - there's no indicator in the OS, as the phone itself doesn't use cellular data. During tethering the modem is reconfigured and disconnected from the OS - there's a passthrough between the modem and the comupter.

[2022-02-09 11:15] SP2FET commented on #3555
Hi,
The issue indeed exists, it is probably related to the issue you mentioned before and we're on track to fix it!

[2022-02-09 20:14] GravisZro opened #3570 "Quickstart instructions omits information on downloading assets"
#  📚 Missing or unclear documentation

## 📝 Description

I followed [the documentation](https://github.com/mudita/MuditaOS/blob/master/doc/quickstart.md#introduction) to build the PurePhoneand it fails trying to download proprietary assets.
[code]

## 📝 Describe the solution you'd like

The documentation should tell you how to avoid asset download requirement, ideally with a `configure.sh` script

[2022-02-10 08:27] SP2FET commented on #3555
I've created a separate ticket for this bug:
https://appnroll.atlassian.net/browse/MOS-158

[2022-02-10 09:42] SP2FET commented on #3558
@zalun did it fixed your issue?

[2022-02-11 07:57] SP2FET commented on #3555
Hi, I've got some info that this is not a bug, it's a feature. The bolded entries meant to be the missed calls - that's the way it's designed. If we'll got more complaints about this, it will be reworked then.

[2022-02-11 09:50] #2493 closed

[2022-02-11 20:16] GravisZro commented on #2147
I dug into this issue and found that a few translation issues have since been fixed but the remaining untranslated strings are under `DEVELOPER_SETTINGS_OPTIONS` sections.  If these are not intended to ever be translated then you can safely close this ticket without further action.  However, if you wish to include these as translatable then I have made a branch for that and can create a PR.

[2022-02-14 11:32] mjan-dev commented on #3124
@0rsted I am closing this issue because of inactivity. Please reopen and provide answer for @pholat request if it is still valid.

[2022-02-14 11:32] #3124 closed

[2022-02-14 11:38] mjan-dev commented on #3555
@czalaviek I'm closing this issue as it has been reviewed by the team and this behavior is indeed as designed. As @SP2FET mentioned, we will gladly redesign it if more complaints about this feature arises. Thanks for reporting.

[2022-02-14 11:38] #3555 closed

[2022-02-14 11:41] mjan-dev commented on #3485
@snan As we are having trouble reproducing some of your issues, we requested for direct contact in https://github.com/mudita/MuditaOS/issues/3553. We will take a further look if either your report further details or we come across the same issues as reported.

[2022-02-14 11:41] #3485 closed

[2022-02-14 11:49] snan commented on #3553
We can talk on IRC

[2022-02-14 11:51] snan commented on #3485
That request was just one week ago!

[2022-02-14 11:52] mjan-dev commented on #2147
@hihaiu Thanks for reporting. As @GravisZro already mentioned, all the missing English translations from user interfaces have already been fixed. Only translations that may be missing are those hidden behind DEVELOPER_SETTINGS_OPTIONS flag. Those are used only for extra features accessible for development purposes. Closing issue.

[2022-02-14 11:52] #2147 closed

[2022-02-15 07:35] pholat commented on #3418
@bitigchi hi, are you still interested in the change? I believe that with some small changes to your commit: https://github.com/mudita/MuditaOS/issues/3418 you would be able to PR and we could push this issue through and close it :)

[2022-02-15 08:45] lukascalda commented on #1990
Hi, what should I do to make it right? Got the czech localization sort of ready.
@pholat @SP2FET

[2022-02-15 09:20] SP2FET commented on #3558
In case the driver won't install properly, please take a look at this comment and follow it step-by-step:
https://github.com/jwise/HoRNDIS/issues/132#issuecomment-745607263

If it won't help with your tethering issue, please reopen the issue.

[2022-02-15 09:20] #3558 closed

[2022-02-15 13:20] bitigchi commented on #3418
@pholat, I lost the original patch, but I'll have a fresh look with a bit more study of the source code.

[2022-02-16 07:39] snan commented on #3553
It happened again today as I was accepting a delivery; I was getting called but I had no way of accepting the call. The left-most context key didn't work.
Also, I could see the number calling me, but looking in the call list later it just says "unknown" (frustrating since I couldn't call him back). Delivery guy later tried again and that time, I could answer, and in the call list his number is sho

[2022-02-17 12:20] snan opened #3596 "Airplane mode grounded"
I had the phone in Airplane Mode (I went and checked the settings, it wasn't in "periodically download messages" mode, although it might'e thought it was because that'd explain the following behavior): I got the message chime and saw that I had a missed call text message (from my telephony provider) and two other messages. The missed call was just nu, 13:11, same minute. I went to call the caller

[2022-02-17 17:18] GravisZro opened #3597 "Access request for PureUpdater"
# ⚠️ Access Request

## 📝 Description

I've followed the [Download Assets](https://github.com/mudita/MuditaOS/blob/master/doc/download_assets.md) guide for making the `download_asset.py` script work but after getting a token and configuring git, it's giving me a 404 still.  The instructions read

which leads me to request access to the `PureUpdater` repo because I've set git's config vars properly

[2022-02-17 18:04] GravisZro opened #3598 "Unable to build unit tests without assets"
# ⚠️ Build issue

## 📝 Description

I'm trying to run a unit test so that I can resolve the problem in PR #3322 but `make check` eventually invokes `download_assets.py` which fails and bombs the entire build process.

## 📝 Describe the solution you'd like

I would like to be able to make unit tests without requiring that assets be downloaded.

## 📝 Describe alternatives you've considered

I've tri

[2022-02-22 06:48] Stolyarrrov opened #3606 "Checking with PVS-Studio static analyser"
Hello,

I have found some weaknesses and bugs using PVS-Studio tool. PVS-Studio is a static code analyzer for C, C++,C# and Java:

- Here is the [link](https://pvs-studio.com/en/blog/posts/cpp/0914/) to the first article about it
- Here is the [link](https://pvs-studio.com/en/blog/posts/cpp/0925/) to the secound
- Open Source projects [can use](https://pvs-studio.com/en/blog/posts/0614/%C2%A0) PVS

[2022-02-22 06:53] Stolyarrrov commented on #3606
Opening this issue is my typo, could you please delete it?

[2022-02-22 12:50] gabryatfendor opened #3609 "Chinese localization 🇨🇳"
A user on the mudita forum wanted to help with the Chinese localization but the whole Github process was too complicated, so he just shared with me the translated JSON.

[2022-02-22 13:21] gabryatfendor commented on #3609
I created a PR, https://github.com/mudita/MuditaOS/pull/3611

[2022-02-23 08:34] SP2FET commented on #3606
Hi, thanks for the issue!
We already saw your posts and we're on the way to fixing it and probably integrating the tool with our CI flow :)
Here's the ticket in case you'd like to track the fixing in PRs: MOS-240

[2022-02-28 23:30] ruario commented on #3558
That does not help for me. After running the spctl -a -vv -t install command against the pkg it ends with:

[code]

Also do not like that you have to hack around this. Are you working on a proper solution for macOS users?

[2022-03-07 11:11] mjan-dev commented on #3454
Closing. It is fixed and will be included in 1.2.0 release.

[2022-03-07 11:11] #3454 closed

[2022-03-07 11:12] mjan-dev commented on #3554
It is fixed and will be included in 1.2.0 release.

[2022-03-07 11:12] #3554 closed

[2022-03-07 11:22] mjan-dev commented on #3448
The backspace behavior here is working as designed. We will gladly consider your suggestion, especially if more users will report similar feedback. For now I'm closing this issue.

[2022-03-07 11:22] #3448 closed

[2022-03-07 11:29] mjan-dev commented on #3596
Hi snan!
Thanks for reporting. Is this issue recurring for you or was it only a one time occurence?
Either way, could you please send report through Mudita Center so we can look through your logs. Much appreciated.

[2022-03-07 11:30] mjan-dev commented on #3404
@snan FYI, we are planning to introduce monospaced font for use with timers across the system.
I'm closing this issue for now. Thanks for the suggestion :+1:

[2022-03-07 11:40] snan commented on #3404
Wonderful ♥
Aesthetic touches & polish ftw ♥♥♥

[2022-03-07 11:55] snan commented on #3404
I missed this reply.

I know how widths and kerns work.

A monospaced font timer doesn't jitter, but neither does a ragged-right (a.k.a. left-aligned) proportional font timer. (Because a digit can only change when all of the digits to the right of it changes, that's just math.) My suggestion was to make the minutes and seconds both be separately left-aligned (a.k.a. ragged right) and keep the `:`

[2022-03-07 12:04] mjan-dev commented on #3421
Possibly, the main reason of this issue has been addressed and will be included in newest 1.2.0 release.
Furthermore, we are in progress with work on major improvement of battery life as whole. Closing the issue.

[2022-03-07 12:04] #3421 closed

[2022-03-09 11:37] #2453 closed

[2022-03-11 09:41] snan opened #3644 "Receiving text messages"
N.B: this is still on the old version, 1.1.5.

I just received a message from my dentist who had promised to text the latest appointment. But, opening the message, I instead see a duplicate of a message from a parcel company making a delivery the other day. (That message is also what happened to be displayed as I last locked the phone yesterday, which might be significant, but it was also the last

[2022-03-11 12:51] niepiekm commented on #3644
Hi, this issue is already addressed by PR #3512 and will be included in next OS release.

[2022-03-12 20:23] GravisZro commented on #3428
FYI, the issue is [here](https://github.com/mudita/MuditaOS/blob/dfde2e1b0a61212f4fe25c7a5afe931786a3c2c3/module-apps/application-messages/widgets/SMSOutputWidget.cpp#L131)
[code]

[2022-03-15 07:31] #3570 closed

[2022-03-18 21:41] rawzen opened #3657 "Incoming call while editing contact freezes and reboots Pure"
1. Pure is set to DO NOT DISTURB mode. (The bug won't reproduce for me in CONNECTED mode.)
2. Enter editing mode of any contact.
3. Move focus to another field in the contact. (The bug won't reproduce for me if I don't move focus.)
4. Make a call to Pure.
5. The call does not come through.
6. Pure freezes, no buttons are responsive.
7. After a rather short press on the hang up button the phone reb

[2022-03-19 07:03] rawzen opened #3658 "Music app won't resume playback after connecting or disconnecting headset while playback is paused"
1. Start playing a song in the Music app on Pure with no headset connected.
2. Pause playback.
3. Connect headset.
4. Press play continue playback.
5. Nothing happens.
6. The app has to be closed and restarted to be able to resume playback.

Same happens if headset is connected at first playback and later disconnected.
If song is kept playing during connect and disconnected everything works fine.

[2022-03-19 07:40] rawzen opened #3659 "Sometimes long delay when switching to Connected mode"
When in Offline or Do not disturb mode, and switching to Connected it can sometimes take up to a minute to get visual feedback on screen that the mode has changed and network connection is resumed. Other times it only takes a few seconds.
Switching from Offline to Do not disturb happens immediately.

[2022-03-19 08:35] rawzen opened #3660 "Notification for unread messages are not cleared when messages are recieved while in messages app"
1. In the messages app sending and receiving messages.
2. All received messages are read.
3. When returning to menu or home screen there is still a notification for unread messages.

[2022-03-21 07:36] SP2FET commented on #3657
Hi, which firmware version are you using? The latest one (1.1.6)?

[2022-03-21 07:36] SP2FET commented on #3658
Hi, which firmware version are you using? The latest one (1.1.6)?

[2022-03-21 07:36] SP2FET commented on #3659
Hi, which firmware version are you using? The latest one (1.1.6)?

[2022-03-21 07:37] SP2FET commented on #3660
Hi, which firmware version are you using? The latest one (1.1.6)?

[2022-03-21 07:41] rawzen commented on #3657
Yes. It is version 1.1.6.

mån 21 mars 2022 kl. 08:36 skrev Bartosz Cichocki ***@***.***

[2022-03-21 07:41] rawzen commented on #3658
Yes. It is version 1.1.6.

mån 21 mars 2022 kl. 08:36 skrev Bartosz Cichocki ***@***.***

[2022-03-21 07:46] rawzen commented on #3659
Yes. It is version 1.1.6.

mån 21 mars 2022 kl. 08:36 skrev Bartosz Cichocki ***@***.***

[2022-03-21 07:46] rawzen commented on #3660
Yes. It is version 1.1.6.

mån 21 mars 2022 kl. 08:37 skrev Bartosz Cichocki ***@***.***

[2022-03-21 11:07] SP2FET commented on #3659
Could you please confirm that after switching the slider to the next position you get a delay between switching the slider and info popup on the screen, or do you mean the delay between switching the connected mode and fully-operational modem?

[2022-03-21 11:14] SP2FET commented on #3660
Hi, this one should be fixed in the coming release, so I'll close the issue. Thank you for reporting!

[2022-03-21 11:14] #3660 closed

[2022-03-21 11:16] #3644 closed

[2022-03-21 11:35] rawzen commented on #3659
The long delay is between switching the slider to connected mode and the
info popup, and the network connection seems to be down until the info
popup appears on the screen.

mån 21 mars 2022 kl. 12:07 skrev Bartosz Cichocki ***@***.***

[2022-03-21 11:37] SP2FET commented on #3659
alright, thank you for the info, we'll investigate the issue and keep you informed if we found anytihng

[2022-03-21 13:18] SP2FET commented on #3658
We've created a ticket and it will be further investigated: MOS-331
Thank you for reporting!

[2022-03-23 13:18] GravisZro opened #3674 "Link issues, image organization, extaneous labels in documentation"
#  📚 Documentation Issues

## 📝 Description

1. A whole bunch of links have these issues.

2. Images have these issues:

3. A couple documents have extraneously labeled tables of contents as a result of #3645.

## 📝 Describe the solution you'd like

Merge PR #3669

[2022-03-24 11:08] esope opened #3677 "Call reject list"
# 🚀 Call reject list (aka black list)

## 📝 Description

I sometimes need to block all incoming calls from a given phone number (like for spams). Having a reject list (or a black list) of such numbers, that the Mudita Pure would automatically block, would be neat.

## 📝 Describe the solution you'd like

Add the possibility to add a phone number or a contact to the reject list.
Add the possibility

[2022-03-28 10:02] esope opened #3687 "Alarms and time change due to daylight saving time"
# 🐛 Alarms and time change due to daylight saving time

## 📝 Description

When you set up an alarm and a time change occurs (advance or delay of 1 hour) due to daylight saving time, the alarm does not ring at the expected time, but at the time *before* the time change.

## 👍 Expected behavior

If I set up an alarm at 6AM (winter time), and the daylight saving time occurs during the night, then the

[2022-03-28 16:42] #3658 closed

[2022-03-29 07:59] SP2FET commented on #3687
Hi, thanks for letting us know! Reported as MOS-354

[2022-04-03 17:54] GravisZro opened #3707 "Predictive text / T9"
# 🚀 Feature request

## 📝 Description
It's been mentioned several times on the forum but as far as I know, predictive text has not been implemented yet.

## 📝 Describe the solution you'd like
Implement real-time text prediction.

These were the best implementations I could find though I think they all need work as they don't seem to support caching the tree structure.

* C implementation of T9: ht

[2022-04-04 07:08] SP2FET commented on #3707
Hi, T9 is on our roadmap, and work on this topic will start for sure - we just have to finish ongoing topics. Some initial research has been already made FYI.

[2022-04-04 09:10] #1170 closed

[2022-04-04 12:11] GravisZro commented on #3707
Glad to hear it.  I hope the current topics are centered around system issues like baseband modem management because connectivity is still problematic.

[2022-04-04 13:04] GravisZro opened #3708 "Modem can become unresponsive"
# 🐛 Bug report

## 📝 Description
In some scenarios, the modem can become completely unresponsive and will not respond without cycling the power.

## 👍 Expected behavior

Every command issued to the modem should activate a watchdog timer for triggering the reset line to the modem.

## 👎 Current behavior

The specific scenario I encountered was in the first day of use when I wasn't sure which slot w

[2022-04-05 10:40] pholat commented on #3708
Hi, would you be so kind to rise this issue via Mudita Center too (and attach your Phone serial number here)
This way we will be able to check the device logs.
Sorry for the inconvenience, we will add the possibility to download logs so that you will be able to attach them here directly in the future.

[2022-04-05 10:43] #3606 closed

[2022-04-05 10:46] paweljonskim commented on #3598
I posted on forum regarding the topic:
https://forum.mudita.com/t/muditaos-community-build/3911
You'll find details there :)

[2022-04-05 10:46] #3598 closed

[2022-04-05 10:52] #3674 closed

[2022-04-05 16:10] GravisZro opened #3717 "Building with community assets fails."
# 🐛 Bug report

## 📝 Description

Following the quickstart documentation for building with community assets fails to download some assets.

## 👍 Expected behavior

Build should not fail to build using community assets.

## 👎 Current behavior

Follow the [examples in the documentation to configure the project](https://github.com/mudita/MuditaOS/blob/master/doc/quickstart.md#project-configuration) a

[2022-04-05 22:36] GravisZro opened #3719 "Community asset version for unit tests outdated"
# 🐛 Bug report

## 📝 Description

When building unit tests will download version `0.0.4-pure`.  The build will fail because it's missing `image/assets/fonts/fontmap.json`.

## 👍 Expected behavior

When building unit tests (i.e. `make check`) should download a suitable version from the MuditaOSPublicAssets repo.

## 👎 Current behavior

When building unit tests will download version `0.0.4-pure`.

#

[2022-04-06 17:10] #3719 closed

[2022-04-06 18:51] estevezluis1 commented on #3717
Did you check if you have access to PureUpdater repo? I believe it's a private repo. If you run the test command, you'll get a 404 from github api.

I'm wondering how to get access to PureUpdater or at least how to build without needing PureUpdater.

[2022-04-08 14:04] GravisZro commented on #3708
OK, so I _finally_ found that there were prebuilt ELFs.  It was hard to find a download link on the Mudita website.
My serial number: 27029130741012

[2022-04-08 14:59] estevezluis1 commented on #3597
I'm not sure how access to PureUpdater will be granted, but in case it's manual, I would like to access to PureUpdater repo to build muditaOS

[2022-04-09 01:57] GravisZro opened #3726 "vCard and iCalendar file generation for USB MTP"
# 🚀 Feature request

## 📝 Description

The current USB CDC serial interface is fine but it has limited support: only Mudita Center can interface with Pure Phone.

## 📝 Describe the solution you'd like

I would like the USB MTP interface to include vCard files for contacts and iCalendar files for calendar entries.  Since the actual information is stored in a database on the phone, the files would n

[2022-04-09 02:07] GravisZro opened #3727 "Music erroneously added to firmware images(?)"
# 🐛 Bug report

## 📝 Description

I'm not sure if it's part of the firmware currently being distributed but after mounting my Pure Phone as an USB MTP device using FUSE, there were nine MP3s by artist _Nick Lewis_ already loaded.  I presume these files were added during testing and someone forgot to remove them before deployment.

## 🔬 Minimal reproduction
Mount the Pure Phone as a USB MTP device.

[2022-04-10 11:40] LizGalanis opened #3728 "Apostrophe"
# ⚠️ Create other issue

## 📝 Description
When texting there is no apostrophe available when pressing 1 to get punctuation (at least not that I can find!)

## 📝 Describe the solution you'd like
Would love to have access to apostrophes when texting

[2022-04-10 11:42] LizGalanis commented on #3427
Glad to see this is reported already! I'm finding that the ear speaker is really distorted. When volume is up high it's basically unusable, at lower volume it's okay but still a bit distorted.

[2022-04-10 11:47] LizGalanis opened #3729 "Backlight shortcut"
# 🚀 Feature request

## 📝 Description

I prefer to use the phone without the backlight, however this means that once it's dark I can't see the screen to turn the light on! This leaves me needing to have the light automatically on at all times.

## 📝 Describe the solution you'd like

It would be awesome if there was a shortcut on the keypad, or maybe using the torch button, that could turn the back

[2022-04-10 20:18] inconspicuouspilgrim commented on #3597
Same here, not sure if one is required to reach out personally to the team for access

[2022-04-11 09:29] esope opened #3730 "Alarms become inactive after reboot"
# 🐛 Bug report: Alarms become inactive after reboot

## 📝 Description

After a reboot, the alarm icon of the home screen is not displayed, and the active alarms won't go off.

## 👍 Expected behavior

If some alarm is active, the alarm icon on the home screen should always be displayed, even after a reboot.
The alarms that are marked as active should go off, even after a reboot.

## 👎 Current behav

[2022-04-11 09:54] esope opened #3731 "MMS are received but displayed as gibberish data"
# 🐛 Bug report: MMS are received but displayed as gibberish data

## 📝 Description

When you receive an MMS, the sender is always set as ``8<`` (whatever is the actual sender) and the contents of the MMS is displayed as a list of squares.

## 👍 Expected behavior

At the very least: correctly display the sender of the MMS, and correctly show the text part of the MMS.

## 👎 Current behavior

The sen

[2022-04-11 10:15] mjan-dev commented on #3726
We are currently not planning to add such functionality, although you could take on the challenge and try to develop it by yourself. We would support you with great pleasure. :smile:

[2022-04-11 10:17] mjan-dev commented on #3727
Those files has been included on purpose - we wanted to share some good music with you and this has been approved by the artist.

[2022-04-11 10:17] #3727 closed

[2022-04-11 10:19] mjan-dev commented on #3728
You can find apostrophe sign with *(asterisk) long press. There are more special signs there, not available otherwise.

[2022-04-11 10:19] #3728 closed

[2022-04-11 10:22] mjan-dev commented on #3730
Sorry to hear about such issue.
Could you please send over issue report through Mudita Center? We would then have access to logs from your device.

[2022-04-11 10:26] mjan-dev commented on #3731
MMS messages are currently not supported. We will consider adding more implicit message about MMS not being supported in future versions.

[2022-04-11 10:26] #3731 closed

[2022-04-11 11:46] esope commented on #3730
Done.

[2022-04-12 14:24] mjan-dev commented on #3717
A task has been created to address this issue and is already in review. @GravisZro

[2022-04-12 16:58] GravisZro commented on #3717
OK.  You do know that nobody else can see Jira tickets, right?

[2022-04-12 17:06] GravisZro commented on #3726
OK, to modify the USB stack's MTP implementation, I will need to be able build firmware and therefore a roadblock for the moment.  I'll close this ticket since the request was declined.

[2022-04-12 17:06] #3726 closed

[2022-04-13 13:58] GravisZro opened #3738 "UI bug: Bluetooth window first rendered with off state"
# 🐛 Bug report

## 📝 Description

When going through the `Menu`->`Settings` menu, when you go to ~~a~~ _the Bluetooth settings_ "window" (as referred to in the code) that has an option enabled (e.g. Bluetooth in the 'ON' state) when first entering the the "window" it will render as the default state (e.g. 'OFF') before immediately being updated to it's actual state.

## 👍 Expected behavior

When e

[2022-04-13 14:08] GravisZro opened #3739 "Music Application: global music mode"
# 🚀 Feature request

## 📝 Description

Currently, you can only listen to music if you are in `Menu`->`Music` and going to do anything else (e.g. browse messages, edit contacts, etc.) halts music playback.

## 📝 Describe the solution you'd like

In the music player, the left green key should be labeled "Foreground"/"Background" depending on if the music playback service keeps running while using ot

[2022-04-14 09:17] esope opened #3742 "Searching in contacts should not take accents into account"
# 🚀 Feature request: Searching in contacts should not take accents into account

## 📝 Description

Suppose you have a contact with first name "André" and last name "Trémieux".
If you use the search feature, and type "Andre" or "Tremieux" you will not find your contact.
This makes searching for contacts quite difficult in languages where accented letters are widely used.

## 📝 Describe the solution

[2022-04-14 14:32] GravisZro opened #3746 "Alarm application - UI improvement: time entry fields should automatically highlight contents"
# 🚀 Feature request

## 📝 Description

When creating a new alarm, you must first delete the current time in each field.

## 📝 Describe the solution you'd like

When creating a new alarm, the numbers in the current field should be highlighted so that when you press a key, it will erase the current contents of the field.

## 📝 Describe alternatives you've considered

If the field contents simply dis

[2022-04-14 14:37] GravisZro opened #3747 "Alarm application - UI bug: time entry not zero padded"
# 🐛 Bug report

## 📝 Description

When entering an alarm time, the number of minutes will remain a single digit if only one digit is entered, resulting in 7:1 AM being a valid time.

## 👍 Expected behavior

Upon leaving each the numeric entry field for hour and minutes, zero padding should be applied.  This may be relevant for hours field as well depending on if 24 hour mode is selected.

## 👎 Cur

[2022-04-14 16:07] GravisZro opened #3749 "Contact application - UI improvement: search for substring matches"
# 🚀 Feature request

## 📝 Description

When searching contacts, the search only matches the beginning of fields.  This means when searching for the first name "Big Jake" that you must search for "big" because "mike" will not match.

## 📝 Describe the solution you'd like

Search for match sub-strings.

## 📝 Describe alternatives you've considered

There could be an "Alias" field for contacts that w

[2022-04-14 16:25] GravisZro opened #3750 "Music application - UI improvement: switch to playback interface when song is played"
# 🚀 Feature request

## 📝 Description

Currently when you select a song to play, you have to press "Back" and then press the up direction to get to the music playback UI.

## 📝 Describe the solution you'd like

When you select a song to begin playing then it should "bring down" the music playback UI.  While playing music in the music playback UI, pressing down should jump to the current song being

[2022-04-14 17:32] GravisZro opened #3751 "Workflow: Unable to pass "PR Tasks Completed Check""
# 🐛 Workflow bug report

## 📝 Description

I appended the required text in the PR #3720 (and others) but the check keeps failing with

## 🔍 Provide logs
Here's the status page for PR #3720: https://github.com/mudita/MuditaOS/runs/6028167829?check_suite_focus=true

[2022-04-14 23:44] c933103 commented on #3609
1. According to https://github.com/mudita/MuditaOS/blob/master/doc/i18n.md , only characters in https://github.com/mudita/fontbuilder/blob/master/charset.txt are currently supported in the OS. So all these Chinese characters wouldn't be displaying even after they are added, unless relevant font is made and added into the OS.
2. The added translation is only the Simplified Chinese, China version of

[2022-04-17 14:54] GravisZro commented on #3708
I'm closing this since it has no real resolution.

[2022-04-17 14:54] #3708 closed

[2022-04-18 02:01] TanukiKabuki opened #3754 "Tea Timer"
# 🚀 Feature request

## 📝 Description

Would be nice to have a tea timer on the device, something simple to just choose, white, green, black, herbal, etc. Set the time, set the phone down, wait. Nothing frivolous, just time. I don't have my device yet, but looking at hopping on board and assisting with the development of new functionality.

## 📝 Describe the solution you'd like

**Timers for:**
Wh

[2022-04-18 02:02] TanukiKabuki commented on #3707
This would be a quality improvement for text input.

[2022-04-18 20:03] Storms-Engineering commented on #3729
I agree with this one.  Or simply having the backlight only turn on when it is very dark.  Obviously this will require some testing, to see what is the magic value on your photosensor to turn the backlight on.

[2022-04-18 21:21] Storms-Engineering opened #3755 "Delete All Calls in Call Log"
# 🚀 Feature request
Delete All Calls in Call Log
## 📝 Description
Be able to delete All Calls in Call Log

## 📝 Describe the solution you'd like
You can use the existing options menu, but simply add a "delete all calls" option

## 📝 Describe alternatives you've considered
Deleting every call by hand is kind of annoying.  And i was just thinking that over a couple years the amount of calls might be

[2022-04-18 23:42] Storms-Engineering commented on #3728
Super helpful though and just what I have been looking for!  Might want to place a little more emphasis on that in the user manual.  I don't remember it, but looking in the special keybaord functions long press it is indeed there.

[2022-04-19 10:17] mjan-dev commented on #3717
@GravisZro Sure, we link issues for internal use.

[2022-04-21 07:05] SP2FET commented on #3751
Hi,
I know about this issue, and will try to fix it in the coming days, but as it affects only community PRs, I'll merge them by hand until it will be fixed.

[2022-04-21 07:05] #3751 closed

[2022-04-22 09:45] SandorUK commented on #3181
@SP2FET could you re-open this please?

[2022-04-24 18:37] snan commented on #3421
Battery seems much better (just, IDK, feels that way without measuring too carefully).

[2022-04-24 18:41] snan opened #3763 "Silent mode"
I would want the center position on the right most slider to be silent, but show on the lock screen calls and messages. That's a good complement between airplane and normal, I'd use each about a third of the time each. I was under the impression that it workd that way in 1.1.5 but I'm not sure about that.

[2022-04-25 10:20] pholat commented on #3742
It's plausible, but please do not expect us to implement it right away :)

Searches are based on sqlite3 matches in db. Therefore for this case, we would have to:
1. add a list of accents for each language
2. use regexp instead of string match in db

[2022-04-25 10:25] pholat commented on #3754
A fine idea, we will propose it to be implemented :)

[2022-04-25 10:33] SP2FET commented on #3408
Hi,
Ad 1. First battery improvements have been already introduced in the 1.2.0 release, next major improvements will be included in the following updates. (Those are already ready for release)

Ad 2. Bluetooth car audio should be fixed in the coming release, so stay tuned ;)

Ad 3,4. Those bugs should be already fixed in the current release.

[2022-04-25 10:35] SP2FET commented on #3596
Closing due to inactivity. If the issue appears again, please reopen the issue.

[2022-04-25 10:35] #3596 closed

[2022-04-25 10:45] mjan-dev commented on #3739
This is already on our roadmap for coming months. The music player functionality is really lacking and there is a lot space for improvement.
The issue described will be fixed as first one.

[2022-04-25 10:45] #3739 closed

[2022-04-25 12:15] SP2FET commented on #3401
FYI Issue reported as MOS-417

[2022-04-25 12:20] SP2FET commented on #3747
Hi,
Indeed, it's a bug. Reported as MOS-418

[2022-04-25 12:21] patrycja-paczkowska commented on #3763
Hello @snan
To receive silent notifications on the locked screen after setting the slider to the DO NOT DISTURB position, you should go to MENU -> Settings -> Phone modes -> Do not disturb and set Notification when locked to ON. This way, you should have notifications about incoming calls and messages displayed on your lock screen.

[2022-04-25 12:23] snan commented on #3763
That's what I have, but since 1.2.0 they aren't displayed there until I slide it back up.

[2022-04-25 12:24] SP2FET commented on #3738
Hi,
The issue is visible in Bluetooth probably due to BT state handling, did you notice this behavior somewhere else too (excluding dark mode, as you mentioned)?

[2022-04-25 12:26] patrycja-paczkowska commented on #3763
Can you please confirm that for DO NOT DISTURB mode, this label is displayed on the home screen in the upper left corner?

[2022-04-25 13:57] GravisZro commented on #3738
Yes, I double checked the it's **only** the Bluetooth menu that updates it's switch state.  On closer look examination, the dark mode switch doesn't have this issue.  I checked other switches and they do not have this issue.

[2022-04-25 14:38] SP2FET commented on #3738
Great, thanks for checking this out. We'll take a look at this. Reported as MOS-421.

[2022-04-25 14:55] GravisZro opened #3769 "Music application - UI bug: Presentation sometimes non-functional."
# 🐛 Bug report

## 📝 Description

The music player "presentation" UI sometimes does not show that music is playing and cannot control it.  This specifically happens when I play the 30th song in my list or any after it.

## 👍 Expected behavior

Should play normally.

## 👎 Current behavior

The music player "presentation" UI sometimes does not show that music is playing and cannot control it.  This

[2022-04-27 21:23] snan opened #3779 "Alarm crash"
Phone crashed when the alarm went of while I was at the alarms list screen.

<small>also had a ton of dropped calls today as per ushe which is off topic to the alarm crash but just a follow up.</small>

[2022-04-28 04:46] GravisZro opened #3781 "Image assets have lost detail"
# 🐛 Bug report

## 📝 Description

In making my own PGM<->VPI converters (to use with Netpbm to ultimately convert PNG<->VPI), I've found that the source PNG images have been converted improperly.  Specifically, the colors have not been quantized which results in loss of detail.

## 👍 Expected behavior

I expected the source image color palette to be quantized so that values like `#0D0D0D` are conv

[2022-04-28 19:18] GravisZro opened #3789 "Extract multimedia metadata upon transfer"
# 🚀 Feature request

## 📝 Description

Currently when you transfer songs, you need a client that will specify the metadata (title, artist, etc) despite the metadata being in the file itself.

## 📝 Describe the solution you'd like

I would like the multimedia information to be extracted from the FLAC/MP3 file **if** the information is _not_ supplied after transferring to the phone.

## 📝 Describe a

[2022-04-30 08:02] GravisZro opened #3795 "Messages Behavior: Messages should be sent when possible"
# 🚀 Feature request

## 📝 Description

When sending a text messages fails, it should try again when signal strength increases.

## 📝 Describe the solution you'd like

When it finally does send, instead of it just the time sent by your messages (pressed "send"), it should also include "delayed: %time actually sent%" which could be different day, so keep that in mind.

If there is a reason this isn'

[2022-04-30 08:17] GravisZro opened #3796 "Messages UI: Add conversation dividers"
# 🚀 Feature request

## 📝 Description

The text message conversation log should have a divider between the days.  This would solve issue #3428.

## 📝 Describe the solution you'd like

The divider should include the date for the messages above with an upward arrow as well as the date for the messages below with a downward arrow.

## 📝 Describe alternatives you've considered

Putting the full dateti

[2022-05-01 17:13] GravisZro opened #3798 "Messages UI: long messages appear truncated"
# 🐛 Bug report

## 📝 Description

After receiving a rather long text message, I thought it was truncated because the message just ends.  There is no indication that there is more to the message.

## 👍 Expected behavior

There should be some or of indicator that there is more to the message, like a scroll bar on the side or a downward pointing arrow at the bottom when there is more text below and a

[2022-05-02 10:07] pholat commented on #3798
@GravisZro unfortunately this wonky behavior is by design, the dev team couldn't enforce the scroll bar as it wasn't pretty :)
Saying that - I'll address this issue with our PO as we totally agree that this is not how it should look like and should be fixed.

Our internal issue for reference: https://appnroll.atlassian.net/browse/MOS-446

[2022-05-02 10:11] pholat commented on #3796
@GravisZro please do fill in the proposal in the bug referenced as it's a proposal to fix the issue mentioned there. It will help us to not duplicate issues.

[2022-05-02 10:11] #3796 closed

[2022-05-02 10:13] pholat commented on #3795
We are not planning such a feature right now. Not sent messages are marked as not sent. This is not as simple as you think - as you are using a currently active sim card and you would need to have this into consideration when implementing it.
Therefore we will present it, but please do not mind if it won't be selected as a proposition to implement.

[2022-05-02 10:16] pholat commented on #3789
Can you please elaborate on where is the issue? Is it when using the Mudita Centre client? Or in phone runtime?

[2022-05-02 10:18] pholat commented on #3781
@GravisZro we do not plan to support your tools. It might be possible that we will release our changed converter for public use with documentation. Though this has to be discussed in the company internally.

Unfortunately at the moment if you really wish to create tooling - it will require you to actually analyze how it works as it has minimal to no documentaion.

[2022-05-02 10:18] #3781 closed

[2022-05-02 10:19] pholat commented on #3779
@snan please send the report on Mudita Center so that we would have a crash dump and would be able to reproduce the issue :bow:

[2022-05-02 10:21] pholat commented on #3769
Is it ok to just play 30th+ song, or we should wait till it?
What happens after you are not able to control it?

[2022-05-02 10:22] pholat commented on #3677
This will be discussed internally by @mjan-dev. It will be followed up in a few days :crossed_fingers:

[2022-05-02 10:25] pholat commented on #3755
Thanks for your feedback! The requested feature was added internally for planning ( Internal link for our reference https://appnroll.atlassian.net/browse/MOS-447 )

[2022-05-02 14:00] GravisZro commented on #3789
It should work with any client, so it's an issue with the phone runtime.

[2022-05-02 14:06] GravisZro commented on #3428
# 🚀 Feature request / Proposed solution

## 📝 Description

The text message conversation log should have a divider between the days.  This would solve issue #3428.

## 📝 Describe the solution you'd like

The divider should include the date for the messages above with an upward arrow as well as the date for the messages below with a downward arrow.

## 📝 Describe alternatives you've considered

Put

[2022-05-02 14:10] GravisZro commented on #3769
* It only happen upon selection of the 30th+ song.  There is no issue with playing 30+ songs.
* After the the completion of the song playback, the next song will return control to the music player "presentation" UI

[2022-05-02 14:56] snan commented on #3779
I tried and I started Mudita Center, it asked me to update it and after I did that, connecting (between phone & computer) worked once but then it disconnected and this is my life now:
![IMG_0929](https://user-images.githubusercontent.com/309417/166256029-87d435dc-d43c-41e0-9d79-aaf312c5e86d.jpeg)

[2022-05-02 19:47] GravisZro commented on #3781
Please reopen this issue because this is not about the tools I made, I just used them to make the issue I discovered clear.  I don't care if the tools are rejected, I am trying to point out that the tools used to generate the VPI files are discarding details from the source PNG images.  If you read this post, I will walk through each step to demonstrate this fact.

Here is the step-by-step process

[2022-05-06 14:12] mjan-dev commented on #3779
Tried to reproduce the alarm issue many times on 1.2.0 but with no success.

[2022-05-08 09:26] pisajew opened #3815 "Better thethering support"
# 🚀 Feature request

## 📝 Description

I'm currently facing issues when trying to use Mudita as a modem on OpenBSD system. When plugged in, it gets detected as:

[code]

but looks it does not implement hayes AT command set (attached serial port is reported by minicom does not respond to AT commands).

When I "enable thethering", the following happens:

[code]

which probably means that while Mudit

[2022-05-08 10:43] LizGalanis opened #3816 "Messages and calls not coming through"
# 🐛 Bug report

## 📝 Description

Since the latest update suspected that I wasn't receiving some texts. I have tried messaging and calling myself from my partner's phone, and calls and texts only come through about half of the time, even when I have reception. My messages also often do not send, despite having cell reception and I have to re-send.

## 👍 Expected behavior

Reliably receiving texts

[2022-05-09 07:40] SP2FET commented on #3815
Hi, during tethering, we connect the USB port of the Quectel EG25-G modem to Pure's modem - Pure acts then as a passthrough, so it seems that your system has a problem with the modem itself.

[2022-05-09 09:56] mjan-dev commented on #3677
Added to our Jira as additional feature, however it is not of high priority. Thanks for adding the sugestion! @esope

[2022-05-09 10:14] mjan-dev commented on #3717
It should be fixed.

[2022-05-09 10:14] #3717 closed

[2022-05-09 22:57] pisajew commented on #3815
Thanks. Will doublecheck the OS side then.

[2022-05-09 22:57] #3815 closed

[2022-05-10 07:59] mjan-dev commented on #3677
Adding our internal issue link for tracking: [MOS-467](https://appnroll.atlassian.net/browse/MOS-467)

[2022-05-11 03:15] pisajew opened #3823 "Phone unresponsible before alarm clock time"
# 🐛 Bug report

## 📝 Description

I left my phone connected with usb cable to a PC for charging. Keyboard was disabled and phone mode was set to do not disturb.
Phone unresponsive when alarm clock should fire. Constantly vibrating, emitting weird noises.
## 👍 Expected behavior

Phone should play alarm sound as normal and remain responsive to user interaction (i.e. it should be possible to unlock t

[2022-05-11 20:59] pisajew opened #3828 "MuditaOS should not alter contents of received text message"
# 🐛 Bug report

## 📝 Description

MuditaOS annoyingly inserts hyphenation characters ('-') into text of received SMS, whenever it finds that it should wrap the text to another line.

This raises problems with messages which bear i.e. authentication codes, where one cannot reason from context, what the original text was.

The message is presented correctly in mudita center.

## 👍 Expected behavior

[2022-05-12 01:11] neutralinsomniac commented on #3707
I wrote an extremely feature-rich (and interactive) T9 engine in Python: https://github.com/neutralinsomniac/t9. My plan is to port the logic to C++ since the logic was the hardest part to get right, but if someone else wants to take a stab at it, feel free.

[2022-05-15 21:54] githubtefo opened #3838 "AptX support."
# 🚀 Feature request

## 📝 Description

Add HiFi support for bluetooth devices.

## 📝 Describe the solution you'd like

As it's been done in other open source projects for Android devices
https://github.com/EHfive/pulseaudio-modules-bt

## 📝 Describe alternatives you've considered

Have you considered any alternative solutions or workarounds?

[2022-05-15 21:55] githubtefo opened #3839 "Caldav support."
# 🚀 Feature request

## 📝 Description

Add Caldav synchronizer features to support open source calendar, like Nextcloud.

## 📝 Describe the solution you'd like

If you have a solution in mind, please describe it.

## 📝 Describe alternatives you've considered

Have you considered any alternative solutions or workarounds?

[2022-05-16 10:17] SP2FET commented on #3823
Could you please fill up the template as it's supposed to be? And if it's possible, please send logs via Mudita Center. This template has its purpose - we are not able to reproduce some bugs when the description is not complete.
Saying so, once again, please send logs via Mudita Center and paste here your serial number to be able to distinguish your logs from the rest. We'll try to reproduce the b

[2022-05-16 10:22] SP2FET commented on #3828
Hi, indeed, it should be rewritten to provide proper handling of e.g. passwords. We'll take a look at this.

[2022-05-16 10:24] SP2FET commented on #3838
Hi, we're not planning to use the AptX codec right now as the implementation is not so trivial. We'll be using AAC codec though, so it will provide you with a better quality than SBC, which is used right now

[2022-05-16 10:24] #3838 closed

[2022-05-16 10:27] SP2FET commented on #3839
As for now, we have basic calendar functionality, which will be extended and rewritten to be able to sync and use with our companion app - Mudita Center. If you wish to have CalDav support, we encourage you to take a challenge and try to write it by yourself!

[2022-05-16 10:27] #3839 closed

[2022-05-16 10:32] gabryatfendor opened #3840 "Mudita sometimes stucked on "Turn off the phone?""
# 🐛 Bug report

## 📝 Description

When checking the phone it's stucked at the screen "Turn off the phone?" (I don't know if I accidentally pressed the turn off key while in my pocket) and I can't do anything until the auto-lock activates and, from there on, everything works normally. During the freeze the only button that works is the switch between mode.

## 👍 Expected behavior

Mudita OS should

[2022-05-16 11:33] esope commented on #3823
I experienced the same bug.
It happens (sometimes) when the phone is charging and (I guess) when it remains plugged for a long time while the battery is fully charged (like when you plug the phone before getting to sleep, and the bug happens the next morning).
The sound of the alarm stutters, as if the CPU was overloaded. Some process getting crazy, or some infinte loop, maybe ?
This bug is very a

[2022-05-19 04:07] toastal commented on #3609
Oh that's a total bummer. I was looking at a way to get my hands on this device, but without Thai or Lao support, it would be unusable to me.

[2022-05-19 04:37] toastal opened #3846 "Central Thai localization [th]"
# 🏳 Create a new localization

## 📝 Describe the solution you'd like

It's clear from other parts of the documentation that this is outside of the supported character set for now. However I'd like to show interest in the topic. I'm a non-native speaker, but I have access to native speakers who have translation experience. Lao would also be great.

---

Background & aside: Central Thai is considere

[2022-05-20 05:56] adamgas commented on #3823
same - after second snooze, the third alarm didn't went off normally - it just buzzed constantly, no response from keyboard clicks, self-resetted after few minutes

[2022-05-20 07:08] patrycja-paczkowska commented on #3769
FYI I was able to reproduce the problem and created a ticket on our internal board https://appnroll.atlassian.net/browse/MOS-496.

[2022-05-20 09:39] mjan-dev commented on #3840
Hi @gabryatfendor! Thanks for reporting. Would it be possible to send a report through Mudita Center? We would be able to look at logs from your device as we haven't observed such behavior yet.

[2022-05-20 09:41] mjan-dev commented on #3816
Hi @LizGalanis. Thanks for reporting. We have some idea of what could cause this problem and are working on a possible fix. Would it be possible to send a report through Mudita Center so we can make sure this is the same issue?

[2022-05-20 09:42] gabryatfendor commented on #3840
I have enabled the automatic send of the logs from the Mudita Center already. Do I have to send them manually in any other way?

[2022-05-20 09:42] mjan-dev commented on #3755
@Storms-Engineering FYI this feature is in progress right now :+1:

[2022-05-20 10:47] LizGalanis commented on #3816
Hi Mjan, can you let me know the steps for sending a report through Mudita Centre?

[2022-05-22 11:32] gabryatfendor opened #3854 "SMS merged with old one"
# 🐛 Bug report

## 📝 Description

I'll try to be as specific as possible. A couple of days ago I received an sms from a contact containing this exact text "a ...". The day after (I received other sms normally meanwhile) another sms from another contact arrived and it was formatted in this way:
Old message from the other contact that I did not received completely the day before (trailing "a ..." ex

[2022-05-23 10:07] pholat commented on #3749
Hi! it's not on the roadmap right now. Saying that - we will propose this be implemented internally.
Internal ticket reference: https://appnroll.atlassian.net/browse/MOS-502

Saying that - please feel free to come up with implementation propositions.

[2022-05-23 10:08] pholat commented on #3763
@snan would you be so kind to double-check?

[2022-05-23 10:09] pholat commented on #3779
@snan would you be so kind to tell me if:
- your MC application is up to date?
- this problem with communication is persistent?

[2022-05-23 10:11] pholat commented on #3789
Ok, could you be kind enough to elaborate a bit more? Currently, we have an issue properly understanding where is the issue.

[2022-05-23 10:17] pholat commented on #3823
@esope @adamgas thanks! this is the start we could work with!
Internal bug reference: https://appnroll.atlassian.net/browse/MOS-503
@pisajew would you be so kind as to properly fill in the issue?

[2022-05-23 10:20] pholat commented on #3854
@gabryatfendor thanks for the report, was it a singular accident, or more frequent behavior?
Saying that: internal issue rose:https://appnroll.atlassian.net/browse/MOS-504

[2022-05-23 10:22] gabryatfendor commented on #3854
@pholat it happened just this time. If you need the complete content of the messages let me know and I will share it privately

[2022-05-23 10:24] pholat commented on #3846
As for the display, it's possible but there may be issues with input. We have no expertise on how to map the numerical keyboard.  Sorry for my lack of competence in the subject: Asian languages.

Do you happen to know how it should be mapped? on our site, it's fairly simple. We have mapping - number of presses -> to character input.

[2022-05-23 10:29] rumpole opened #3855 "MMS are not hadled adequately"
# 🐛 Bug report

## 📝 Description

When someone sends you an MMS to the Mudita Pure, it shows the sender as simply being from "C" with no number or contact detail, and the content is a series of unicode boxes.

## 👍 Expected behavior

Either one of options i would like to see implemented as the expected behaviour:
1) Implement MMS into the code.  We know the Quectel EC25 module (what the Pure uses

[2022-05-23 10:46] pholat commented on #3779
edit: we found some similar issue internally ( internal reference: https://github.com/mudita/MuditaOS/issues/3779 )

[2022-05-23 10:51] snan commented on #3779
How do I send logs from MC? Since I've intermittently gotten it to connect again.

[2022-05-23 11:48] GravisZro commented on #3789
Currently, when transferring songs via MTP, I transfer them as files, not as songs which would include metadata like the artist, album, song title, etc. which (as far as I can tell) means that these songs are not entered into the Pure's media database.  Perhaps Windows transfers via MTP as songs automatically but I do not have Windows, only Linux.  I believe they are not in Pure's database because

[2022-05-23 13:33] SP2FET commented on #3427
hi @snan and @LizGalanis - as you can see, we managed to take some serious measurements and find some tweaks that improved the call quality. Probably more info in detail will be available soon on the forum ;)

[2022-05-23 14:14] #3427 closed

[2022-05-23 17:09] Storms-Engineering commented on #3755
@mjan-dev @marziel  Sweet! Thanks guys!

[2022-05-24 05:24] pholat commented on #3816
You can check the relevant how-to on our forum here: https://forum.mudita.com/t/how-to-send-logs-to-mudita-via-mudita-center/4085

[2022-05-24 07:51] marziel commented on #3755
@Storms-Engineering You're welcome! :)

[2022-05-25 08:55] #3755 closed

[2022-05-25 14:27] GravisZro opened #3869 "System-wide issue: All setting should be validated."
# 🚀 Feature request

## 📝 Description

When settings are loaded from memory, they do not appear to be validated when they should all be validated.

## 📝 Describe the solution you'd like

Upon loading any setting, the setting should be immediately tested for validity and have an acceptable default value or be able to handle a bad setting.  Currently, the information read from device storage/cache i

[2022-05-26 07:32] pholat commented on #3597
Update:
- you are able to build packages with community targets. Please see: `doc/build_targets.md`
- you are not able to download our proprietary software. We have MuditaOS as open-source, but the updater or bootloader is not open source yet. I've no information on when and if it will be opensourced.

Saying that - Updater is not part of the OS and is not open-sourced at the moment.

[2022-05-26 10:22] esope commented on #3854
I experienced this bug 3 or 4 times last week. Quite annoying.

[2022-05-26 12:04] GravisZro opened #3872 "Boot loop crash"
# 🐛 Bug report

## 📝 Description

My phone crashes upon boot.  The Mudita logo appears and then grays, indicating it's crashed.  Pressing the power button to boot again results in the same crash happening repeatedly.  I took the battery out for minute and replaced it to see if this was a hardware issue but it continued crashing.  The only way to escape this boot loop crash is to connect it via USB

[2022-05-26 12:19] GravisZro commented on #3597
@pholat
The real question is when will I be able to build and load my own version of the OS because that's the whole point of open source.  Without being able to do this or having a serial debug link then I will be unable to determine the cause of the many "unreproducible" ills my phone suffers, like going indefinitely without being able to get a signal, or why my car believes the phone gave it th

[2022-05-30 10:03] pholat commented on #3872
@GravisZro can you please tell:
- (after successful boot) what's the battery level?
- how often does it happen? can you reliably reproduce it now?

[2022-05-30 10:05] pholat commented on #3869
Please tell me if I understand you right: the issue you see is that `settings` by default will always return an empty string even if there is no value stored?
Did you happen to see that it somehow affected your phone, or it's your investigation hint?

[2022-05-30 10:10] pholat commented on #3855
We currently do not have MMS handling implemented. At the moment we do not know whether the message is an SMS or MMS - which will require some major changes in SMS handling. We have this topic on the backlog, though it might take some time due to the current priorities.

[2022-05-30 10:11] pholat commented on #3854
@gabryatfendor I expect that the issue is not related to the messages content, but rather specific situation, and wanted to estimate how hard will it be to reproduce it :) Thanks for the report!

[2022-05-30 10:13] pholat commented on #3763
moved to quarantine - with no response we plan to drop it next week.

[2022-05-30 10:17] mjan-dev commented on #3779
@snan I'm attaching a forum link with a quick description on how to do it.
https://forum.mudita.com/t/how-to-send-logs-to-mudita-via-mudita-center/4085

[2022-05-30 10:18] pholat commented on #3789
I'm afraid this doesn't really work how you think it works. @SP2FET please provide full description and explanation

[2022-05-30 10:22] SP2FET commented on #3789
@GravisZro let me explain:
- menu entries that are greyed out because those are not implemented yet - it does not rely on files you have on the phone.
- transferring files via MTP does not alter any metadata of the file - tags are included into file and are copied to the phone - you can verify it by checking the title and artist while playing the audio. If there were no tags, you wouldn't see the

[2022-05-30 10:46] GravisZro commented on #3869
What I am suggesting is that upon loading _any_ setting, that setting should be validated before being used.  If the value for that particular setting is invalid then a default value should be used.  This means that if a particular value is corrupt then the phone will discard the value.

For example:
[code]

[2022-05-30 10:47] #3789 closed

[2022-05-30 11:39] pholat commented on #3872
did you power on the phone without a battery? it won't work this way as USB won't be a reliable source of power here.

Saying that: data without the battery in the phone is not reliable at all. It will just crash randomly when power spike comes.

Saying that:  did you reproduce it with working battery?

[2022-05-30 11:43] GravisZro commented on #3872
* bad behavior
* power off
* remove battery
* replace battery
* power on
* still bad behavior

[2022-06-01 22:14] grzegorzgrzegorz opened #3889 "Mudita OS freezes randomly"
# 🐛 Bug report

## 📝 Description

Phone freezes randomly. I cannot see any pattern about this behaviour. The only tip I have is it seems the problem is gone when sim card is removed. I was also using the phone often in places when it was out of range of GSM. So it was often showing it is offline/online - maybe this could be some hint.

Anyway, I moved sim to my old phone and I have now very expens

[2022-06-03 14:45] GravisZro opened #3896 "Image assets have lost detail"
# 🐛 Bug report

## 📝 Description

The tools used to generate the VPI files are discarding details from the source PNG images.  Specifically, the colors have not been [quantized](https://en.wikipedia.org/wiki/Color_quantization) which results in loss of detail.

## 👍 Expected behavior

I expected the source image color palette to be quantized so that values like `#0D0D0D` are converted to `01`.

##

[2022-06-06 06:54] pholat commented on #3896
@GravisZro image converter is not part of the MuditaOS. Therefore it's not a bug to the OS.

[2022-06-06 06:58] pholat commented on #3896
Saying that - I believe you are right that the software used is lacking in this aspect.
Do you propose to change how we generate images, opensource the simple soft creating MPI & VPI, other?

[2022-06-06 07:41] GravisZro commented on #3896
I would like to request that you cease being dismissive.  I have tried to bring this up before but you closed the issue and [ignored my request to reopen the issue](https://github.com/mudita/MuditaOS/issues/3781#issuecomment-1115293997).  It is extremely irritating to put in the effort to [report](https://github.com/mudita/MuditaOS/pull/3720) and [fix](https://github.com/mudita/MuditaOS/pull/3762)

[2022-06-06 08:47] pholat commented on #3896
This actually hurt, as we lost quite a lot of time reaching out to you, I believe [this is the origin](https://github.com/mudita/MuditaOS/pull/3322) of this particular issue, where you at the beginning introduced code that was crashing - into the perfect working codebase, which was found out by unit tests you denied writing.  So first and foremost - please do your best to help us out. It's not our

[2022-06-06 10:11] pholat commented on #3889
@grzegorzgrzegorz please report the issue with logs via MuditaCentre.
As for reproducibility, we managed to reproduce the non-responsive keyboard locally and are working on it. [Internal issue reference](https://appnroll.atlassian.net/browse/MOS-210).

[2022-06-06 10:27] pholat commented on #3872
internal reference: might be connected to [this issue](https://appnroll.atlassian.net/browse/MOS-515).

The issue mentioned was a race condition in application initialization which was visible with the onboarding flow.
It will be fixed in the next minor release ( 1.3.0 I believe, but I'm not 100% sure, as there will be a release with just an audio patch and I do not know if it will be named 1.2.1

[2022-06-06 12:49] GravisZro commented on #3872
After performing a factory reset, the bad behaviors have been eliminated.  Unless I'm missing something, this means that bad behavior could be reproduced using sqlite3 setting databases.

I have two suggestions:
1. If the crash reports do not create copies of the database files, they should or at least settings that aren't default.
2. To identify possible configuration issues, the test harness sho

[2022-06-06 12:49] #3872 closed

[2022-06-06 16:26] GravisZro opened #3901 "Development workflow: Additional Github/JIRA action(s) needed."
# ⚠️ Development workflow

## 📝 Description

As far as I can tell, a community pull request requires both a manual request for a ticket by the community member as well as a Mudita team member to manually create a JIRA ticket.  Since Github generates an overbearing number of notifications, a request for a ticket number can easily be (or perceived as being) "lost in the churn" (deleted without being

[2022-06-06 16:43] GravisZro opened #3902 "Development workflow: Unit testing for scripts required"
# ⚠️ Development workflow: Unit testing for scripts required

## 📝 Description

There are no method of unit testing scripts.  As a result, pull requests that modify scripts are viewed as risky and therefore left to languish indefinitely.  Being able to test script changes in an automated fashion is necessary to enable trust in community originating fixes.

## 📝 Describe the solution you'd like

An

[2022-06-06 16:52] GravisZro commented on #3896
I recognize that a sizeable chunk of the time that has been invested in accommodating community members, myself especially and I'm grateful for it.  As for the unit testing, I would gladly contribute tests if I had a better insight into the codebase as well as catch2 and I'm continuing to work on these.

I'm quite glad you to have an advocate for open source in Mudita and I hope you continue pushi

[2022-06-06 17:13] GravisZro opened #3903 "Community issue: Tivoization needs to be resolved"
# ⚠️ Community issue

## 📝 Description

The [Tivoization](https://en.wikipedia.org/wiki/Tivoization) (inability to run unsigned code) of the Mudita Pure has become a significant community issue as it's been nearly half a year and there is still no word of when or even if it will be possible to load customized firmware.  Being unable to load a custom firmware is by far the **biggest** issue for any

[2022-06-07 08:51] pholat commented on #3902
Unfortunately, I'm afraid it will be very time-consuming right now and we just straight do not have the capacity to do so. What's more - it's a nontrivial task as writing tests for ready-to-go software is always harder. Even organizing the environment for script testing is a nontrivial matter for us. Do you happen to have know-how on how we could achieve it?

[2022-06-07 08:57] pholat commented on #3903
The problem lies with the lack of tooling for users to use to run their own software, not with deliberate actions to forbid users from doing so. Hopefully, we will meet the day users will be able to fully change their software in MuditaOS.
Thanks for rising this issue, we are raising it on regular basis - but the voice from the community might actually help to emphasize the problem.

[2022-06-08 21:40] grzegorzgrzegorz commented on #3889
Thanks for feedback @pholat . Is there any chance to actually view this internal issue reference?
I have no rights to use this link now. After logging in I do not see the ticket. Is this private Jira instance?

[2022-06-09 13:22] pholat commented on #3903
@GravisZro  It doesn't matter if it's a bootloader or updater. The latter is ready actually to verify md5sum of the software. For your convenience, you can see it as a secondary bootloader (it's not) specialized for handling the upload of data.
So this is on the technical part, on the business part - there was a decision made that access to the bootloader (of primary bootloader for your convenienc

[2022-06-09 14:48] GravisZro commented on #3903
I'm a very curious about how it's rollback ability works.  If I've uploaded a badly broken firmware via the updater and it doesn't even boot then how does the rollback function work?  I can only figure it must be part of the bootloader functionality.

You mean the eight connection pads by the Data Matrix code under the battery are JTAG?  I had assumed these were merely for a programming jig.  I wo

[2022-06-10 14:08] GravisZro opened #3912 "CPU still running while "Depleted Battery" symbol is displayed"
# 🐛 Bug report

## 📝 Description

When the battery gets too low, it displays [`Depleted Battery`](https://user-images.githubusercontent.com/670534/173082739-0abb5d3d-0659-48e7-be57-f4546d17fe36.png).  When it is shown, all buttons are disabled but the CPU still processes events.  When a timed alarm occurs after displaying this symbol, it will activate with no way to disable it.

## 👍 Expected beha

[2022-06-11 20:11] StoyanDimitrov opened #3914 "Inconsistensies in app_bell_greeting_msg string"
`app_bell_greeting_msg` is a key in `English.json`. I see several problems with this string contents:

1. Title case or sentence case - some of the items are all title case, other items are sentence case but most of them use title case only for the first part of the text:
    -  `<text>Good Morning!<br />It's a Beautiful Day!</text>` - example of all title case text,
    - `<text>Rise and shine!<b

[2022-06-13 10:19] kkleczkowski commented on #3914
Hi, thank you for noticing it. It will be fixed and it's reported under BH-1527 ticket.

[2022-06-13 10:24] kkleczkowski commented on #3912
This is a deeper internal hadware/software issue. You are partialy right - we shouldn't process OS actions when we display this screen, but it's not like we can totally turn off hardware due to the hardware limitations. It has been already noticed and it's reported under MOS-275. Moreover, we'll take a deeper look at the battery handling.

[2022-06-13 10:28] kkleczkowski commented on #3903
@GravisZro You have to enable bootloader and select factory reset option. To enable bootloader turn on the phone with confirmation button pressed ( central joystick button ).

[2022-06-13 10:34] kkleczkowski commented on #3902
@GravisZro Can you provide an example script based on our existing script?

[2022-06-13 10:37] kkleczkowski commented on #3901
@GravisZro It has been already noticed. Currently we are looking for solutions. Thanks for good points.

[2022-06-13 10:42] kkleczkowski commented on #3896
@GravisZro It's being internally processed right now. Repo will be opened in the nearest future.

[2022-06-13 10:46] SP2FET commented on #3840
Hi, Sorry for the late response.
The issue indeed exists. we are able to somehow reproduce it. It's already reported under the MOS-210 ticket.

[2022-06-13 10:55] #3401 closed

[2022-06-13 10:59] SP2FET commented on #3657
Unfortunately, we can't reproduce it on the latest release. Closing right now, if the issue persists, please reopen it.

[2022-06-13 10:59] #3657 closed

[2022-06-13 11:03] #3747 closed

[2022-06-13 12:30] SP2FET commented on #3828
After research and talks with our team, we decided that this is a very specific corner case; thus we can't alter our displaying algorithm to suit this case.

[2022-06-13 12:31] #3828 closed

[2022-06-14 18:38] GravisZro commented on #3912
I recognize that electronics like this are never truly off but putting the CPU in the deepest sleep mode comparable to turning the phone "off" would suffice.

[2022-06-20 10:04] Lefucjusz commented on #3779
@snan Have you sent the logs to Mudita via the Mudita Center?

[2022-06-20 10:08] Lefucjusz commented on #3816
@[LizGalanis](https://github.com/LizGalanis) Have you sent the logs to Mudita via Mudita Center?

[2022-06-20 10:14] snan commented on #3779
Ah, I didn't see that Urszula had replied in the thread! I'll try again now

[2022-06-20 10:26] pholat commented on #3869
Ok. We should separate two issues:
1. The engine doesn't populate information if the setting was empty - and the fallback string was passed to the use
2. The app using the data may not verify the value returned

These two issues are normally solved in different places. The application should verify if its data is proper either way, while the engine should provide a way to check if the value was em

[2022-06-20 10:27] #3553 closed

[2022-06-20 10:35] Lefucjusz commented on #3912
@GravisZro Unfortunately it's not as easy as it might seem; there are some technical/hardware limitations that we're unable to overcome with the software. As much as we would like to help you, there's little to none (rather none) space for improvements.

As previously mentioned, part of this issue will be fixed in MOS-275.

[2022-06-20 10:35] #3912 closed

[2022-06-22 12:46] GravisZro opened #3928 "Contacts: Add hidden entries/known numbers"
# 🚀 Feature request

## 📝 Description

I have a bunch of contacts that are bots which that send text messages to me on occasion (e.g. ISP company, Credit Card company, Dentist, Doctor, Pharmacy, School, etc.).  I want to be able to know which bot is sending a message so I add them to my `Contacts`.  However, I _never_ want to call them so being visible (by default) in `Contacts` is undesirable.

#

[2022-06-24 07:31] Maciej-Mudita commented on #3823
@pisajew @esope @adamgas the problem will be fixed in the new version 1.3.0

[2022-06-24 07:32] #3823 closed

[2022-06-24 10:54] JohnDumpling commented on #3754
I feel like a universal timer app with the ability to set and rename multiple timers would be more useful.

[2022-06-28 02:00] LizGalanis commented on #3816
Hi Lefucjusz, I have sent one now. It's a while since I've used the phone though so I'm not sure if it's helpful? I had to stop using the phone since I could not rely on it for calls, texts or alarm clock.

[2022-07-04 10:06] SP2FET commented on #3928
Hi, it sounds like a nice idea. However, we don't plan to introduce it to the code right now. You can challenge yourself and try to implement this on your own if you would like.

[2022-07-04 10:06] #3928 closed

[2022-07-04 10:07] SP2FET commented on #3840
Hi, FYI it's still in progress

[2022-07-04 10:10] SP2FET commented on #3730
Hi, we tried to reproduce the bug, but without any success. Could you please let us know if the issue persists?

[2022-07-04 10:14] esope commented on #3730
Yes, it persists.
Something I forgot to put in the bug report: I am using alarms with repetitions (like, "repeat every day of the week").
I have not tested with "one time" alarms.

[2022-07-04 10:16] SP2FET commented on #3889
Hi @grzegorzgrzegorz. Did you report the issue via MuditaCenter?

[2022-07-06 01:01] LizGalanis commented on #3427
Hi Sp2fet, unfortunately my Mudita phone is no longer recognising any SIM cards and I cannot make or receive phone calls. Thanks for making these improvements, but they are not relevant to me due to the phone having no call functionality.

[2022-07-06 12:51] esope commented on #3730
Also, I do not know whether it is related at all: I configured the "time and date" by disabling "automatic time and date", then setting the right time zone and time, and then re-enabling "automatic time and date".

[2022-07-08 10:13] snan opened #3961 "Making calls"
It often happens that I can't make calls. I dial the number and I can erase but I can't hit the call button. Since I'm in a hurry and really need to make the call quickly I even try to create a contact and maybe call that way (and later delete the contact) but even then it was impossible to call. A couple of minutes later, I could. This is not good for medical situations 💔

[2022-07-11 10:09] SP2FET commented on #3961
Hi @snan,
sorry to hear that. Could you please elaborate on what `can't hit the call button` means? Could you please share with us the phone number format? (eg. 9 numbers)

We have recently rewritten the call handling which will be included in the next release, so hopefully, it shouldn't happen anymore.

[2022-07-15 08:18] MauPalantir commented on #3181
@SP2FET can you re-open this issue? we would really like to use mudita in Hungarian.

[2022-07-18 10:11] Lefucjusz commented on #3816
@LizGalanis The issue has been reported under MOS-395 ticket.

[2022-07-18 10:13] Lefucjusz commented on #3763
Closing the issue due to lack of response, if the problem persists please reopen the issue.

[2022-07-18 10:13] #3763 closed

[2022-07-18 10:17] Lefucjusz commented on #3749
@GravisZro the issue has been reported under MOS-414 ticket, thank you for your suggestion of the solution.

[2022-07-18 10:22] Lefucjusz commented on #3418
Closing the issue due to lack of response, if the problem persists please reopen the issue.

[2022-07-18 10:22] #3418 closed

[2022-07-18 10:25] #3795 closed

[2022-07-18 10:28] Lefucjusz commented on #3795
Currently we're not planning to add such functionality, you can resend the message that failed to send by focusing on it, pressing "Options" and "Send again".

[2022-07-18 10:32] Lefucjusz commented on #3889
The issue you've described as the soft one should be fixed in the next MuditaOS release.

[2022-07-18 10:36] Lefucjusz commented on #3840
The issue has been solved and will be fixed in the next MuditaOS release.

[2022-07-18 10:36] #3840 closed

[2022-07-19 07:58] SP2FET commented on #3181
@SandorUK @MauPalantir sorry for the delay - somehow I didn't get any notification that you mentioned me in the comment

[2022-07-19 07:59] SP2FET commented on #3181
@SandorUK feel free to push the code either to your fork or dedicated branch and play with the simulator!

[2022-07-19 09:13] SandorUK commented on #3181
Thank you! Will do shortly!

________________________________
From: Bartosz Cichocki ***@***.***>
Sent: 19 July 2022 08:59
To: mudita/MuditaOS ***@***.***>
Cc: Sandor Kolotenko ***@***.***>; Mention ***@***.***>
Subject: Re: [mudita/MuditaOS] Hungarian localization 🇭🇺 (Issue #3181)

@SandorUK<https://github.com/SandorUK> feel free to push the code either to your fork or dedicated branch and play w

[2022-07-19 09:16] MauPalantir commented on #3181
@SP2FET Thank you very much! @SandorUK if you need any help testing the feature feel free to ping me. Im not a mobile dev, but I guess I can figure it out with enough docs.

[2022-07-22 12:22] dr3mro opened #3981 "Mudita signal drop with all operators in Egypt"
📝 Using Mudita Pure with 4 operators here in Egypt all same issue .. signal drops often for hours and I am unreachable for most of day and battery life holds charge only for 1 day max

👍 I expect to have option to set max network mode either LTE/4g/3g/2g as in Egypt we have 4g for internet and when we dial it switches to 3g or 2g for calls and that takes time in Pure to find the network and often

[2022-07-22 12:24] dr3mro commented on #3729
or add option to make backlight automatic when light sensors detects its dark only

[2022-07-25 01:42] dr3mro opened #3982 "dialing network codes"
why dialing *999# codes is not working
is this feature missing and is there any plans to add it later ?

[2022-07-25 07:49] p-sims commented on #3889
Pure arrived in post last week. There appears to still have various instability issues in MuditaOS. At list one which required battery to be removed. We also had an issue were we wanted to restart (because of signal problem) and it became completely unresponsive in this state:
![IMG_1345](https://user-images.githubusercontent.com/64636731/180725553-2a36b1f3-2920-4908-bf4d-0371763ded7b.JPG)

Then a

[2022-07-25 08:02] p-sims opened #3983 "Pure signal indicators show that it has signal but you can't make calls"
# 🐛 Bug report

## 📝 Description

Phone shows signal bars, but even after a few minutes if you try and make a call it says no network connection. Restarting seems to fix.

## 👍 Expected behavior

Either phone has network connection (and you can make calls) or it doesn't (so should show this in signal indicator)

## 👎 Current behavior

![IMG_1344](https://user-images.githubusercontent.com/64636731/

[2022-07-25 10:08] Lefucjusz commented on #3981
@dr3mro Please report an issue through Mudita Center as described in the following link: https://forum.mudita.com/t/how-to-send-logs-to-mudita-via-mudita-center/4085. Additionally please attach the link to this issue, so it will be easier for us to identify your report.

[2022-07-25 10:14] Lefucjusz commented on #3982
@dr3mro The MMI codes are working, it seems to be a bug in the UI. Pressing "Call" doesn't show any information that code is being processed, though in reality it is. The issue has been reported to our developers' team and will be fixed soon.

[2022-07-25 10:20] Lefucjusz commented on #3983
@p-sims The fix for this issue is present in 1.3.0, which will be released in a few days. If the problem still persists after the release of the new version, please reopen the issue.

[2022-07-25 10:26] Lefucjusz commented on #3914
@StoyanDimitrov The issue has been fixed and will be present in 1.7.0 release. First and second points of your issue are actually like this by design, so we haven't changed that.

[2022-07-25 10:56] #3738 closed

[2022-07-25 12:01] SP2FET commented on #3896
Hi @GravisZro ,
As you requested, we opened the PureImageConverter repository: https://github.com/mudita/PureImageConverter

Feel free to contribute :)

[2022-07-26 12:57] oiseauroch opened #3984 "add shortcuts attached to joystick buttons"
# 🚀 Feature request

## 📝 Description

add shortcut from home window to common operation. I all my previous feature phones, joystick keys are shortcuts for often used actions. For my current one, its : 
- joystick top : navigate through files
- joystick bottom : contacts
- joystick left : calendar
- joystick right : write new message

## 📝 Describe the solution you'd like

I would like to be able

[2022-07-26 13:28] oiseauroch opened #3987 "Message UI : Change new message behavior"
# ⚠️ Create other issue

## 📝 Description

Currently, writing new message give us the following screen : 
![new_msg](https://user-images.githubusercontent.com/5622590/181014940-1a4720f6-b60c-4553-80b5-edb8fea62c7d.png)

However, after beginning a conversation, we get the following screen : 
![nice_msg_screen](https://user-images.githubusercontent.com/5622590/181015740-f63dc7ad-534e-4d86-9a54-4539d

[2022-07-26 13:36] p-sims opened #3988 "Numbers typed during call appearing on the display"
# 🚀 Feature request

## 📝 Description
If during a call you type numbers (e.g. to choose between menu option or enter codes) these do not currently display on the phone screen.

## 📝 Describe the solution you'd like
It would be helpful if when you type numbers during a call they appear on the screen so a) you can validate you type the right numbers, and b) you can made a note of such information la

[2022-07-26 18:55] christsch commented on #3854
I had the same Problem with MuditaOS 1.2.1:
This happens if I receive a message with more than 160 characters!

[2022-07-28 15:17] p-sims opened #3993 "Automatic Date and time"
# 🐛 Bug report

## 📝 Description

Had new Mudita pure just over a week now and had 'automatic date and time' set to ON for most of that (with SIM card in) and it still thinks it's 1970. I've search for other issues and can only find #2360 which seems to just be about whether it's set ON by default.

## 👍 Expected behaviour

With SIM card in and 'automatic date and time' set to ON is should take ho

[2022-07-28 16:02] p-sims opened #3994 "Music Player .m4a file support"
# 🚀 Feature request

## 📝 Description
Currently Music Player doesn't seem to support .m4a files.

## 📝 Describe the solution you'd like
Could it support .m4a files which I understand to be based on more modern compression standard (MPEG4 vs MPEG2)

## 📝 Describe alternatives you've considered
So people could convert all of there .m4a music files to .mp3 which would give slightly lower quality for

[2022-08-01 10:03] Lefucjusz commented on #3982
@dr3mro The issue has been reported under MOS-636 ticket.

[2022-08-01 10:11] Lefucjusz commented on #3987
@oiseauroch Thanks for your proposition, we'll discuss it with our design team and update you then.

[2022-08-01 10:18] Lefucjusz commented on #3993
@p-sims Thanks for reporting the issue. Automatic time and date synchronization is highly dependent on your location (precisely: whether your network operator implements such feature in their infrastructure), in some locations it might not work because of this.

[2022-08-01 10:21] Lefucjusz commented on #3994
@p-sims Thank you for reporting the issue. Redesign of the music player app and adding additional formats support is already on our roadmap, so it'll be added in one of the future releases.

[2022-08-01 10:21] #3994 closed

[2022-08-01 10:58] snan opened #3996 "Sim card"
I think a lot of the issues— can't call, can't text, drops calls, drops texts, hangs up mid call, missed calls—are because it sometimes believes that there's no sim card in there 🤷🏻‍♀️

[2022-08-01 11:01] snan commented on #3996
Usually restarting it is what makes it understand that it's there

[2022-08-01 11:07] Lefucjusz commented on #3988
@p-sims Thank you for the suggestion, it has been reported to our team under MOS-644 ticket and will be added in one of the future releases.

[2022-08-02 11:35] snan opened #3997 "Unread messages (but I can't ever read them because they're deleted)"
I got a few messages by a harasser and deleted the thread and now my homescreen perptually says unread messages and I can't decrement that count.

[2022-08-02 12:29] esope commented on #3993
Automatic time and date is not working for me either.

[2022-08-03 09:39] dr3mro opened #4000 "add numpad shortcut to menu"
I suggest add a feature that when user press middle button for menu he can use dial numbers to launch the app corresponding to key position instead of using arrows that will make arrow keys wear out less, for example to launch music
1) current behavior : menu - down - left - open
2) requested behavior : menu - 7
50% less button use
.amr

[2022-08-05 11:33] Lefucjusz commented on #3997
Hi @snan, thanks for reporting the issue! We are working on improving the automatic refreshing of notifications in subsequent releases under MOS-578 and MOS-651 tickets. For now you should be able to remove this notification by focusing on it and clicking CLEAR.

[2022-08-05 11:44] Lefucjusz commented on #3996
@snan Thanks for reporting the problem, we're sorry for your inconvenience. Please send us logs via Mudita Center, so we can investigate this issue further.
Quick description how to do this can be found here: https://forum.mudita.com/t/how-to-send-logs-to-mudita-via-mudita-center/4085

[2022-08-07 14:58] dr3mro opened #4011 "calling operator codes"
dialing operator codes #999# don't request the code but it dials number
dialing *99# code will return long line of random numbers like 019298201980217987623962876387263872863
will this issue be fixed ?

[2022-08-08 10:03] Lefucjusz commented on #4000
Hi @dr3mro, thanks for your suggestion! We have a plan to add such functionality in one of the future releases, but currently there are issues with higher priority on our roadmap. We'll update you when something changes in this matter.

[2022-08-08 10:09] Lefucjusz commented on #3996
@snan Please also provide the serial number of your phone here after you've sent the logs.

[2022-08-08 10:20] Lefucjusz commented on #3730
@esope We were able to reproduce the bug, it has been reported under MOS-606 ticket and will be further investigated.

[2022-08-08 10:20] #3983 closed

[2022-08-08 10:22] Lefucjusz commented on #3961
@snan Call handling has been completely rewritten, so the issue should be fixed now. If the problem persists, please reopen the issue.

[2022-08-08 10:22] #3961 closed

[2022-08-08 10:24] Lefucjusz commented on #3889
@grzegorzgrzegorz MuditaOS 1.3.0 has been released, please update your phone and if the problem still manifests itself - reopen the issue.

[2022-08-08 10:24] #3889 closed

[2022-08-10 11:23] p-sims opened #4015 "Automatic Send SMS to keep SIM card alive"
# 🚀 Feature request

## 📝 Description

[Most SIMs get deactivated if you don't send an text or make a call within between 70 days and 6months (at last in the UK)](https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/pay-as-you-go-mobile-use-it-or-lose-it)

Could there be a really simple automatic feature in settings where you could enable an automatic send a text every

[2022-08-12 08:23] philebos opened #4022 "Minor localisation issue of German translation"
# 🐛 Bug report

## 📝 Description

You want to play a song that is in your music library. You select it and then you would press a "play" button or the appropriate function key. In the display the current function that is assigned to the main round button is displayed. Having set the language to German, "Spiel" is displayed on the screen.

This is bad German. It is the imperative of the word "play"

[2022-08-12 11:27] Lefucjusz commented on #4022
Hi @philebos, thanks for reporting the issue! It is being processed under MOS-664 ticket and will be corrected in next MuditaOS release.

[2022-08-12 11:54] #4022 closed

[2022-08-13 21:00] dr3mro commented on #3982
actually some operators support codes #505*331# and dialing those will try to dial as a number not a code

[2022-08-15 10:15] lennie420 commented on #4015
What's the use of having a phone if you don't use it this often? I think it's a bit unfair to expect the developers to program such a feature.

[2022-08-15 10:39] p-sims commented on #4015
I'm not saying it should be top priority new feature.

[2022-08-15 10:48] p-sims commented on #4015
Sorry I didn't mean to close the thread.

I'm not saying it should be top priority new feature, it might also be something I was willing to contribute to implementing rather than relying on others to implement.

I know many elderly people who want a simple phone for emergency use (e.g. break down, or walling while out and about). I also know people including myself who would like to have a simple

[2022-08-22 10:06] Lefucjusz commented on #4011
@dr3mro Thanks for reporting the problem. You've also sent your request to our Customer Support, so we will keep you updated there as we work on this issue.

[2022-08-22 10:10] Lefucjusz commented on #4015
@p-sims Thank you for taking the time to send us your suggestions. Currently we are working on stabilizing everything in Mudita Pure so that it functions well for users.

[2022-08-22 10:19] Lefucjusz commented on #3902
@GravisZro We don't have that many scripts, and implementing this feature seems to be non-trivial and time consuming, so currently we won't be implementing it. We'll let you know if anything changes in that matter.

[2022-08-22 10:19] #3902 closed

[2022-08-22 10:27] Lefucjusz commented on #3659
@rawzen The issue has been fixed and will be present in one of the future releases.

[2022-08-22 10:27] #3659 closed

[2022-08-23 23:14] awulkiew commented on #3855
Fix: https://github.com/mudita/MuditaOS/pull/4017

[2022-08-24 02:52] pkaq opened #4035 "can run muditaOs on watchy？"
can run muditaOs on watchy？want a smartwatch only can call phone

[2022-08-24 12:16] dr3mro opened #4037 "Automatic brightness / charger notify"
1. if light is appropriate turn off light completely so auto brightness start from 0 not from 1

That would save battery

2.  we need sound notification for plug  in/out of charger

[2022-08-26 12:16] #3855 closed

[2022-08-29 10:03] Lefucjusz commented on #4035
@pkaq At this moment it's impossible - Watchy uses completely different hardware, especially CPU. However, feel free to port MuditaOS on that platform if you want to!

[2022-08-29 10:03] #4035 closed

[2022-09-02 15:25] dawidwojtas-mudita commented on #3869
@GravisZro I've created a task in our system [MOS-702] which is necessary for PR.
According to @pholat comment, feel free to implement validation for settings.

[2022-09-05 10:10] Lefucjusz commented on #4037
@dr3mro Thanks for your suggestions! As for the first one - it rather won't be implemented, because turning off the backlight completely in complete darkness would make the display illegible. As for the second one - we'll discuss it with our design team and let you know when we gather more information whether it will be implemented.

[2022-09-06 10:17] LizGalanis opened #4055 "Phone Ringtone in Music Volume, rather than Volume"
# 🐛 Bug report
It seems that the phone call ringtone volume is the same as the 'music' volume, while alarm and SMS ringtone volume are simply controlled with 'volume' from other menus.

## 📝 Description
For several days I did not have any ringtone when receiving calls. I thought something was going wrong with the phone, until I realised when receiving one call the music was very soft, despite the

[2022-09-06 10:19] LizGalanis opened #4056 "Dates on SMSs"
# 🚀 Feature request
At the moment I can only see the time that an SMS was sent/received, cannot see the date even if it was sent weeks ago. I find this impractical when going through previous messages.

## 📝 Description

A clear and concise description of the problem or missing capability

I needed to check on what had happened on a particular date at work, and I new that I could check through my

[2022-09-06 10:22] LizGalanis opened #4057 "Mistake"
# ⚠️ Create other issue

## 📝 Description

A clear and concise description of the problem or missing capability...

My phone is constantly pressing numbers in the pocket in lock mode and trying to make an emergency call. I think this impacts battery life, however I'm also worried that one day I could really dial an emergency number and make an accidental call. Another issue is that when I open up

[2022-09-06 10:52] LizGalanis commented on #4057
Issue seems to be different now. Unsure what happened

[2022-09-08 13:40] dr3mro commented on #4037
Ok. Thank you 😊

On Thu, Sep 8, 2022, 12:53 PM Marcin Łyda ***@***.***> wrote:

[2022-09-08 16:46] dr3mro opened #4058 "screeen refresh"
Hi,
eInk screens use energy when updating only
Mudita pure in standby mode update screen every minute even if it is not necessary like when using Quotes wallpaper instead of clock
so either make it not update in standby if Quotes wallpaper is selected or display a small clock in status bar to make that battery drain at least useful no just a pure waste of battery life.

[2022-09-09 12:25] esope commented on #3854
I have received a very long SMS, that interfered with itself!
On the phone, I see it scrambled with itself (some chunks of the message are repeated, and then the next chunk is displayed).
On Mudita Center, however, it is displayed perfectly normally.
So I guess the message is correctly stored on the device, but it is displayed incorrectly...

[2022-09-09 14:57] dr3mro opened #4061 "#100# code dial instead of send as code"
trying to request #100# code to tweak some network services on Orange Egypt actually try to dial instead of send it as code
please fix that

[2022-09-12 09:32] dawidwojtas-mudita commented on #4058
Hello @dr3mro.
It has been done in 1.3.0 version. If you selected quotes or logo as wallpaper then the system doesn't refresh the screen every minute unless MuditaOS need to change the battery or network status.

[2022-09-12 10:11] Lefucjusz commented on #4055
@LizGalanis thanks for reporting the issue, we'll investigate if further and update you as soon as we gather some more knowledge. Can you please specify:

- what type of headphones you used when the problem happened? Were they wireless Bluetooth or wired?
- Did you change the volume from headphones' buttons or using Pure's buttons?
- Have you noticed the issue when using phone without headphones?

[2022-09-12 10:15] Lefucjusz commented on #4056
@LizGalanis thanks for the suggestion, this feature has already been requested, its internal task number is MOS-653 - it will be added in one of the further releases.

[2022-09-12 10:22] Lefucjusz commented on #4057
@LizGalanis thanks for reporting the issue. However, I'm afraid there's not much that can be done in this matter - every phone has to have a capability to make an emergency call without the need to unlock it before, so it's possible that it can be mistakenly dialed. As for the need to delete every digit individually - you can just hold "Clear" button and whole number will be deleted at once.

[2022-09-12 10:28] Lefucjusz commented on #4061
@dr3mro thanks for reporting the issue. However, as far as I understand, you've already reported this bug here: https://github.com/mudita/MuditaOS/issues/4011

We created the ticket for this problem already, MOS-655, and will be working on it in the future - for now we have tasks with higher priority on our roadmap.

[2022-09-12 11:36] tobald commented on #3854
I experienced the same issue.

[2022-09-14 13:13] dawidwojtas-mudita commented on #3854
@tobald, @esope Can you send logs using Mudita Center? It'll be easier to investigate the issue. Thanks!

[2022-09-14 13:50] tobald commented on #3854
@dawidwojtas-mudita : In Settings>General I clicked "Send mudita center logs to mudita", is this what you mean?

The current bug description is correct. Long SMS do not arrive fully, subsequent content seems to originate from a different contact, at some point here SMS seems completely messed (wrong contact and/or message), as if sms content queue is growing/accumulating at phone company provider.

[2022-09-14 15:10] tobald commented on #3854
I don't know, It seems to me the issue starts with a long message but stays present afterwards.

I sent the log, thanks.

[2022-09-15 05:00] dawidwojtas-mudita commented on #3854
@tobald Thanks for the logs and explanation. Probably I've found the issue. The issue will be fixed in the 1.4.0 release.

[2022-09-15 07:40] #4058 closed

[2022-09-15 07:41] #4057 closed

[2022-09-19 10:11] Lefucjusz commented on #3428
@czalaviek @GravisZro thanks for reporting the issue. We found another bug in SMS date handling, https://appnroll.atlassian.net/browse/MOS-722, related with the problem you've reported, the feature you've requested will be added during fixing of the bug and will be relased in one of the next MuditaOS releases.

[2022-09-19 10:16] Lefucjusz commented on #3798
@GravisZro it was decided that the behavior is not very intuitive indeed, so it will be changed in one of the future releases of MuditaOS. The internal ticket for this issue: https://appnroll.atlassian.net/browse/MOS-653

[2022-10-01 19:45] StoyanDimitrov opened #4095 "Bulgarian localization"
I'm working on Bulgarian i18n - localization and keyboard input.

[2022-10-03 10:07] Lefucjusz commented on #3854
The bug has been fixed and will be published in MuditaOS 1.4.0 release.

[2022-10-10 10:05] Lefucjusz commented on #3993
@p-sims The fundamental idea of Mudita Pure is to not provide any Internet connection. Thus it is impossible to make any HTTP requests to fetch any data. The only way for time setting is automatic synchronization provided by the GSM network or just setting it manually.

[2022-10-10 10:13] Lefucjusz commented on #4095
@StoyanDimitrov Thank you for your contribution! However, at this moment we're unable to integrate it into MuditaOS as the fonts we're using don't support Cyrillic alphabet. This might change at some point in the future though, we'll keep you informed.

[2022-10-10 10:20] Lefucjusz commented on #3996
Hi @snan, could you provide us with the logs and detailed description of the issue you've been experiencing?

[2022-10-10 10:26] Lefucjusz commented on #4015
@p-sims After a discussion with the rest of the team we came to the conclusion that this is very custom functionality and rather will not be implemented.

[2022-10-10 10:26] #4015 closed

[2022-10-10 10:34] Lefucjusz commented on #3779
@snan Please try to update to the latest release - 1.4.0. We've fixed a lot of bugs regarding stability issues since your report, so the OS should be now much stable.

[2022-10-10 15:47] esope commented on #3730
The bug is still there in the 1.4.0 release.

[2022-10-11 13:01] #3779 closed

[2022-10-12 14:30] ghost opened #4109 "create github sponsor option for MuditaOS"
I'd love to sponsor this project as I find it inspiring and important given the current cellular ecosystem.

An option to sponsor the project via github sponsors would be great.

[2022-10-12 22:43] LizGalanis opened #4111 "Mudita Center Lagging/Freezing"
# 🐛 Bug report

## 📝 I have used Mudita centre plenty in the past with no issue. However, installed the new Mudita update last night and noticed Mudita center is much less useable now. When I write texts the typing lags significantly and the program freezes if I type too fast

## 🔬 Minimal reproduction

Typing texts on Mudita Center

## 🔍 Provide logs

Please paste relevant logs below or attach th

[2022-10-13 08:22] StoyanDimitrov commented on #4095
I'm aware of the font "issue". Just a little pressure from the community.

[2022-10-17 02:45] dr3mro commented on #3729
I suggest long press * from home to toggle light on and off

[2022-10-17 02:46] dr3mro commented on #4011
Any idea when this issue will be fixed?

[2022-10-17 10:01] Lefucjusz commented on #4111
@LizGalanis please report Mudita Center related issues on the Mudita Center repo: https://github.com/mudita/mudita-center.

[2022-10-17 10:01] #4111 closed

[2022-10-17 10:06] Lefucjusz commented on #4011
@dr3mro At the moment different issues have highest priority on our roadmap, but we'll move the priority of this matter.

[2022-10-17 12:42] dr3mro commented on #4011
![PXL_20221017_144025526.jpg](https://user-images.githubusercontent.com/1246089/196179482-bd77c4c1-2efa-49fa-a6f6-68b6c71d7ba1.jpg)

![PXL_20221017_144004950.jpg](https://user-images.githubusercontent.com/1246089/196179496-001e95db-5faf-4697-adcc-08dd722fd378.jpg)

Please as its it required to charge my phone with credit and control my line feature for example dont disturb mode from the operator i

[2022-10-25 07:39] esope opened #4125 "Answered calls are marked as "unseen""
# 🐛 Bug report

## 📝 Description

When you successfully answer a call, this call is marked as "unread" in the list of calls, i.e.: there is a fat dot on the icon for calls in the main menu, and the call itself is displayed in bold.

## 👍 Expected behavior

When I answer a call, the call should be listed in the list of calls, but it should be displayed as an "already seen" call (not in bold, and wi

[2022-11-04 14:36] Lefucjusz commented on #4109
Hi!

As I promised, I'm coming back with the info on this matter. At this moment we're unable to launch GitHub Sponsors option, but we're incredibly grateful for your commitment!

Best regards on behalf of the entire Mudita Team.

[2022-11-04 14:36] #4109 closed

[2022-11-05 15:38] romangod902 commented on #3707
As anyone figured out how to implement this into Mudita Pure. After an extensive search, it only seems there are several developers who have outlined the coding behind T9.  Mudita Forum has threads from years ago, and most recently earlier this year when Mudita Pure developers responded reassuring the "plan to implement" T9 as a "high priority" item.  Several months later without update. Abc/ABC i

[2022-11-14 11:07] Lefucjusz commented on #4055
@LizGalanis I'm closing this issue now due to lack of response.

[2022-11-14 11:07] #4055 closed

[2022-11-16 23:37] dr3mro opened #4144 "Suggestions for Mudita OS to fix signal and battery"
I wish you take it seriously and at least test it and see the difference.

Firstly, to fix the low signal issues and dropping please give us the option to disable 4G and disable 3G in settings as 2G uses a lot less power and has more extended range of coverage.

make two options in setting (Cellular)

1) disable 4g
2) disable 3g

or at least a dial code to do that as some carriers use 4G for inter

[2022-11-19 11:02] sharethewisdom opened #4149 "Pure alarm timeout apparently not affected by playDurationTimer"
# 🐛 Bug report

## 📝 Description

The alarm apparently plays back indefinitely by default. There is no option for me to specify a timeout in the alarm GUI settings.

## 👍 Expected behavior

I think most users would appreciate a generous default timeout of half an hour or so, certainly not indefinite. If I understand the code correctly, the `playDurationTimer` timer in `PlayAudioActions.cpp` from t

[2022-11-28 11:06] Lefucjusz commented on #3816
Hi @LizGalanis, sorry for the late update - the issue has been fixed in 1.4.0 MuditaOS version. Closing this thread now.

[2022-11-28 11:06] #3816 closed

[2022-11-28 18:40] Lefucjusz commented on #4149
Hi @sharethewisdom!

Thanks for letting us know about the problem. The issue has been reported under MOS-829 ticket and will be fixed in one of the further releases.